<mds-sub-title-bar subTitle="Matching">
  <i class="fas fa-file-excel"></i>
</mds-sub-title-bar>

<div class="content-wrapper">
  <div class="left-panel">
    <div *ngIf="!records" id="file-input">
      <mds-file-input (fileChanged)="handleFile($event)"></mds-file-input>
      <div *ngIf="fields" [formGroup]="fieldForm" style="padding: 10px">
        <mat-form-field *ngFor="let formField of formFields">
          <mat-select [placeholder]="formField.placeholder" [formControlName]="formField.controlName">
            <mat-option>Clear Selection</mat-option>
            <mat-option *ngFor="let fieldName of fields" [value]="fieldName">
              {{fieldName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div style="text-align: right;">
          <button mat-raised-button type="submit" color="accent" (click)="loadRecords()">Continue</button>
        </div>
      </div>
    </div>
    <div *ngIf="records" id="record-list">
      <div id="control-wrapper">
        <mds-file-input (fileChanged)="handleFile($event)"></mds-file-input>
        <mat-checkbox style="margin-left: 10px;" [(ngModel)]="autoMatch">Auto-match</mat-checkbox>
        <mat-checkbox style="margin-left: 10px;" [(ngModel)]="showUnmatched">Show Unmatched</mat-checkbox>
        <mat-checkbox style="margin-left: 10px;" [(ngModel)]="showMatched">Show Matched</mat-checkbox>
        <mat-checkbox style="margin-left: 10px;" [(ngModel)]="showNonMatches">Show Non-matches</mat-checkbox>
        <div style="width: 100%; text-align: center;">
          {{getRecords().length}} / {{records.length}}
        </div>
      </div>
      <mat-list>
        <mat-list-item *ngFor="let record of getRecords()"
                       [ngClass]="getMatchedClass(record)"
                       (click)="setCurrentRecord(record)">
          <span class="list-item-header">{{record.sourceStoreName}}</span>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <mat-sidenav-container class="center-panel hidden-sm">
    <mat-sidenav-content style="display: flex; flex: 1;">
      <mds-map (ready)="onMapReady()"></mds-map>
    </mat-sidenav-content>
    <mat-sidenav mode="side" [(opened)]="controlSideNavIsOpen" class="control-side-nav"
                 position="end">
      <mds-db-entity-controls (viewStoreList)="openSidenavDirectlyToSelectedListStores()"></mds-db-entity-controls>
    </mat-sidenav>
  </mat-sidenav-container>
  <div class="right-panel" *ngIf="storeSource">
    <mds-store-source-location-match [storeSource]="storeSource"
                                     [siteMarkers]="siteMarkers"
                                     (onBestMatchFound)="onBestMatchFound($event)"
                                     (onStoreMatched)="matchStore($event)"
                                     (onNoMatch)="noMatch()">
    </mds-store-source-location-match>
    <mat-divider></mat-divider>
    <div style="display: flex; justify-content: space-around; padding: 8px 0; min-height: 40px;">
      <button mat-raised-button type="button" color="accent" (click)="downloadMatchedData()">
        <i class="fas fa-download"></i>&nbsp;&nbsp;Download Matched Data
      </button>
    </div>
  </div>
</div>

<button id="controlsButton" mat-raised-button (click)="controlSideNavIsOpen = !controlSideNavIsOpen">
  <i class="fas fa-sliders-h"></i>
</button>
