<form class="box" [formGroup]="groupForm" novalidate>
  <mat-toolbar class="row header flex-space-between">
    <button type="button" mat-icon-button (click)="goBack()"><i class="fas fa-chevron-left"></i></button>
    <span id="title">Group Details</span>
    <div>
      <button type="button" mat-icon-button color="warn" *ngIf="groupForm.invalid">
        <i class="fas fa-exclamation-triangle fa-2x"></i>
      </button>
      <button type="submit" mat-mini-fab color="accent" (click)="saveGroup()"
              [disabled]="groupForm.pristine || groupForm.invalid || isSaving">
        <i *ngIf="!isSaving" class="fas fa-save"></i>
        <i *ngIf="isSaving" class="fas fa-spinner fa-pulse"></i>
      </button>
    </div>
  </mat-toolbar>
  <div class="row content" *ngIf="group">
    <div class="list-wrapper">
      <div *ngIf="isLoading" style="text-align: center">
        <i class="fas fa-spinner fa-3x fa-pulse" aria-hidden="true"> </i>
      </div>
      <mat-list>
        <mat-list-item>
          <mat-form-field>
            <input matInput placeholder="Display Name" formControlName="displayName" required>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field>
            <input matInput placeholder="Description" formControlName="description">
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field *ngIf="group.id !== undefined">
            <input matInput placeholder="Created By" formControlName="createdBy">
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field *ngIf="group.id !== undefined">
            <input matInput placeholder="Created Date" formControlName="createdDate">
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field *ngIf="group.id !== undefined">
            <input matInput placeholder="Updated By" formControlName="updatedBy">
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field *ngIf="group.id !== undefined">
            <input matInput placeholder="Updated Date" formControlName="updatedDate">
          </mat-form-field>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</form>
