<mds-sub-title-bar subTitle="Group Details">
  <i class="fas fa-users"></i>
  <button title="Form Invalid" type="button" mat-icon-button color="warn" *ngIf="groupForm.invalid">
    <i class="fas fa-exclamation-triangle fa-2x"></i>
  </button>
  <button title="Save Group" type="submit" form="group-form" mat-mini-fab color="accent" (click)="saveGroup()"
          [disabled]="groupForm.pristine || groupForm.invalid || isSaving">
    <i class="fas fa-save"></i>
  </button>
</mds-sub-title-bar>

<div id="content-wrapper">
  <div *ngIf="isLoading" style="text-align: center; margin-top: 15px;">
    <i class="fas fa-spinner fa-3x fa-pulse" aria-hidden="true"></i>
  </div>
  <div id="form-wrapper">
    <form id="group-form" [formGroup]="groupForm" *ngIf="group">
      <mat-form-field>
        <input matInput placeholder="Display Name" formControlName="displayName" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Description" formControlName="description">
      </mat-form-field>
      <ng-container *ngIf="group.id">
        <mat-form-field>
          <input matInput disabled placeholder="Created By" [value]="group.createdBy.email">
        </mat-form-field>
        <mat-form-field>
          <input matInput disabled placeholder="Created Date" [value]="group.createdDate">
        </mat-form-field>
        <mat-form-field>
          <input matInput disabled placeholder="Updated By" [value]="group.updatedBy.email">
        </mat-form-field>
        <mat-form-field>
          <input matInput disabled placeholder="Updated Date" [value]="group.updatedDate">
        </mat-form-field>
        <div>
          <button mat-button color="warn" title="Delete Group" (click)="deleteGroup()">
            Delete Group
          </button>
        </div>
      </ng-container>
    </form>
  </div>
</div>
