.content {
  height: 100%;
}

mat-horizontal-stepper {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.flex-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 80%;
}


mat-form-field {
  width: 100%;
}

.table-section-header {
  text-decoration: underline;
  font-weight: bold;
}

table {
  width: 10in;
  border: none;
  /* display: block; */
  /* width: 100%; */
  /* margin: 0 auto; */
}

tr:nth-child(odd) {
  background: #eee;
  border: none;
}

tr:nth-child(even) {
  background: white;
  border: none;
}

th {
  background: white;
  font-size: x-small;
  border: none;
}

td {
  padding: 5px 10px;
  text-align: center;
  font-size: x-small;
  white-space: nowrap;
  border: none;
}

mat-progress-bar {
  width: 50%;
  margin: 0 auto;
}

::ng-deep .mat-horizontal-stepper-header-container {
  visibility: hidden !important;
  height: 10px;
}

.desc {
  text-align: center;
  font-style: italic;
  color: gray;
  margin: 20px 0;
}

.title-left {
  position: absolute;
  left: 50px;
  font-size: large;
}

.title-right {
  position: absolute;
  right: 50px;
  font-size: large;
}

.footnote {
  background: white;
  font-style: italic;
  color: gray;
  font-size: xx-small;
}

.invalid {
  border: 1px solid red;
  color: red;
}

.editable {
  cursor: pointer;
}

.editable:hover {
  text-decoration: underline;
}

.file-tip {
  margin-left: 20px;
  font-size: small;
}
