<div class="box">
  <mat-toolbar color="primary" class="row header flex-space-between">
    <div>
      <button type="button" mat-mini-fab color="primary" (click)="goBack()"><i class="fas fa-arrow-left"></i></button>
    </div>
    <span id="title">Store Casing</span>
    <div>
      <button type="button" mat-icon-button color="warn" *ngIf="validatingForms.invalid">
        <i class="fas fa-exclamation-triangle fa-2x"></i>
      </button>
      <button type="submit" mat-mini-fab color="accent" (click)="saveForm()"
              [disabled]="validatingForms.pristine || validatingForms.invalid">
        <i class="fas fa-save"></i>
      </button>
    </div>
  </mat-toolbar>
  <mat-divider></mat-divider>
  <div class="row content">
    <div class="list-wrapper">
      <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
      <form *ngIf="!loading">
        <mat-accordion>
          <!-- Casing Date -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Casing Date</mat-panel-title>
              <mat-panel-description>{{storeCasing.casingDate | date}}</mat-panel-description>
            </mat-expansion-panel-header>
            <div>
              <mat-form-field [formGroup]="storeCasingForm">
                <input matInput [matDatepicker]="storeCasingDate" placeholder="Store Casing Date"
                       formControlName="casingDate">
                <mat-datepicker-toggle matSuffix [for]="storeCasingDate"></mat-datepicker-toggle>
                <mat-datepicker #storeCasingDate></mat-datepicker>
              </mat-form-field>
              <mat-form-field [formGroup]="shoppingCenterCasingForm">
                <input matInput [matDatepicker]="shoppingCenterCasingDate" placeholder="Shopping Center Casing Date"
                       formControlName="casingDate">
                <mat-datepicker-toggle matSuffix [for]="shoppingCenterCasingDate"></mat-datepicker-toggle>
                <mat-datepicker #shoppingCenterCasingDate></mat-datepicker>
              </mat-form-field>
            </div>
          </mat-expansion-panel>
          <!-- Projects -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Projects</mat-panel-title>
              <mat-panel-description *ngIf="storeCasing.projects != null && storeCasing.projects.length > 0">
                ({{storeCasing.projects.length}})
              </mat-panel-description>
              <mat-panel-description *ngIf="storeCasing.projects != null && storeCasing.projects.length == 0">
                No Project Selected
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngIf="storeCasing.projects != null" id="projects">
              <mat-list>
                <mat-list-item *ngFor="let project of storeCasing.projects">
                  <div class="project-item">
                    <div>{{project.projectName}}</div>
                    <button type="button" mat-button color="warn" (click)="removeProject(project)">Remove</button>
                  </div>
                </mat-list-item>
              </mat-list>
            </div>
            <mat-action-row>
              <mat-progress-bar mode="indeterminate" *ngIf="loadingProject"></mat-progress-bar>
              <button type="button" id="add-dashboard-project-button" mat-raised-button color="accent"
                      (click)="addDashboardProject()" *ngIf="casingDashboardService.selectedProject != null">
                Add {{casingDashboardService.selectedProject.projectName}}
              </button>
              <button type="button" id="add-project-button" mat-raised-button color="primary"
                      (click)="showProjectSelection()"
                      *ngIf="!loadingProject">
                Add Project
              </button>
            </mat-action-row>
          </mat-expansion-panel>
          <!-- Visibility -->
          <mat-expansion-panel [formGroup]="storeSurveyForm">
            <mat-expansion-panel-header>
              <mat-panel-title>Visibility</mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <div class="checklist">
                <mat-checkbox formControlName="visibilityHillDepressionBlocksView">
                  Hill/Depression blocks view of store
                </mat-checkbox>
                <mat-checkbox formControlName="visibilityTreesBlockView">
                  Trees block view of store
                </mat-checkbox>
                <mat-checkbox formControlName="visibilityOutparcelsBlockView">
                  Outparcels block view of store
                </mat-checkbox>
                <mat-checkbox formControlName="visibilitySignOnMain">
                  Store has sign on major cross-street
                </mat-checkbox>
                <mat-checkbox formControlName="visibilityStoreFacesMainRoad">
                  Store faces major cross-street
                </mat-checkbox>
              </div>
              <mat-form-field>
                <mat-select placeholder="Visibility Rating" formControlName="visibilityRating">
                  <mat-option>Clear Selection</mat-option>
                  <mat-option *ngFor="let condition of conditions" [value]="condition">{{condition}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-expansion-panel>
          <!-- Accessibility -->
          <mat-expansion-panel [formGroup]="storeSurveyForm">
            <mat-expansion-panel-header>
              <mat-panel-title>Accessibility</mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <div class="checklist">
                <mat-checkbox formControlName="accessibilityFarthestFromEntrance">Farthest from entrance
                </mat-checkbox>
                <mat-checkbox formControlName="accessibilityMainIntersectionHasTrafficLight">
                  Main intersection has traffic light
                </mat-checkbox>
                <mat-checkbox formControlName="accessibilityMainIntersectionNeedsTrafficLight">
                  Main intersection needs traffic light
                </mat-checkbox>
                <mat-checkbox formControlName="accessibilityMultipleRetailersBeforeSite">
                  Multiple other retailers before store
                </mat-checkbox>
                <mat-checkbox formControlName="accessibilitySetBackTwiceParkingLength">
                  Set back 2x the length of parking lot
                </mat-checkbox>
              </div>
              <mat-form-field>
                <mat-select placeholder="Accessibility Rating" formControlName="accessibilityRating">
                  <mat-option>Clear Selection</mat-option>
                  <mat-option *ngFor="let condition of conditions" [value]="condition">{{condition}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-expansion-panel>
          <!-- Flow -->
          <mat-expansion-panel [formGroup]="shoppingCenterSurveyForm">
            <mat-expansion-panel-header>
              <mat-panel-title>SC Flow</mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <div class="checklist">
                <mat-checkbox formControlName="flowHasLandscaping">
                  Has Landscaping
                </mat-checkbox>
                <mat-checkbox formControlName="flowHasSpeedBumps">
                  Has Speed Bumps
                </mat-checkbox>
                <mat-checkbox formControlName="flowHasStopSigns">
                  Has Stop Signs
                </mat-checkbox>
                <mat-checkbox formControlName="flowHasOneWayAisles">
                  Has One Way Aisles
                </mat-checkbox>
              </div>
            </div>
          </mat-expansion-panel>
          <!-- Parking -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Parking</mat-panel-title>
            </mat-expansion-panel-header>
            <div [formGroup]="shoppingCenterSurveyForm">
              <h3>Shopping Center</h3>
              <div class="checklist">
                <mat-checkbox formControlName="parkingHasAngledSpaces">Has Angled Spaces</mat-checkbox>
                <mat-checkbox formControlName="parkingHasParkingHog">Has Parking Hog</mat-checkbox>
                <mat-checkbox formControlName="parkingIsPoorlyLit">Is poorly Lit</mat-checkbox>
              </div>
              <mat-form-field>
                <input matInput type="number" placeholder="Number of Parking Spaces"
                       formControlName="parkingSpaceCount">
              </mat-form-field>
            </div>
            <mat-divider></mat-divider>
            <div [formGroup]="storeSurveyForm">
              <h3>Store</h3>
              <div class="checklist">
                <mat-checkbox formControlName="parkingOutparcelsInterfereWithParking">
                  Outparcels interfere with parking
                </mat-checkbox>
                <mat-checkbox formControlName="parkingDirectAccessToParking">
                  Direct access to parking
                </mat-checkbox>
                <mat-checkbox formControlName="parkingSmallParkingField">Small parking field</mat-checkbox>
                <mat-checkbox formControlName="parkingHasTSpaces">Has T Spaces</mat-checkbox>
              </div>
              <mat-form-field>
                <mat-select placeholder="Parking Rating" formControlName="parkingRating">
                  <mat-option>Clear Selection</mat-option>
                  <mat-option *ngFor="let condition of conditions" [value]="condition">{{condition}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-expansion-panel>
          <!-- SC Ratings -->
          <mat-expansion-panel [formGroup]="shoppingCenterCasingForm">
            <mat-expansion-panel-header>
              <mat-panel-title>SC Ratings</mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <mat-form-field>
                <mat-select placeholder="Parking Lot" formControlName="ratingParkingLot">
                  <mat-option>Clear Selection</mat-option>
                  <mat-option *ngFor="let condition of conditions" [value]="condition">{{condition}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Buildings" formControlName="ratingBuildings">
                  <mat-option>Clear Selection</mat-option>
                  <mat-option *ngFor="let condition of conditions" [value]="condition">{{condition}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Lighting" formControlName="ratingLighting">
                  <mat-option>Clear Selection</mat-option>
                  <mat-option *ngFor="let condition of conditions" [value]="condition">{{condition}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Synergy" formControlName="ratingSynergy">
                  <mat-option>Clear Selection</mat-option>
                  <mat-option *ngFor="let condition of conditions" [value]="condition">{{condition}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-expansion-panel>
          <!-- SC Tenants -->
          <mat-expansion-panel [formGroup]="shoppingCenterSurveyForm">
            <mat-expansion-panel-header>
              <mat-panel-title>SC Tenants</mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <mat-form-field>
                <input matInput type="number" placeholder="# Occupied" formControlName="tenantOccupiedCount">
              </mat-form-field>
              <mat-form-field>
                <input matInput type="number" placeholder="# Vacant" formControlName="tenantVacantCount">
              </mat-form-field>
              <mat-form-field>
                <input matInput type="number" placeholder="% Sqft Occupied" formControlName="sqFtPercentOccupied">
                <span matSuffix>%</span>
                <mat-error>Must be between 0 and 100%</mat-error>
              </mat-form-field>
              <mat-form-field>
                <textarea [formControl]="newTenantsControl" placeholder="Add Tenants (comma separated list)"
                          matInput></textarea>
              </mat-form-field>
              <div class="flex flex-space-between">
                <button type="button" mat-raised-button color="primary" [disabled]="newTenantsControl.pristine"
                        (click)="parseTenants(false)">
                  Add as Inline
                </button>
                <button type="button" mat-raised-button color="primary" [disabled]="newTenantsControl.pristine"
                        (click)="parseTenants(true)">
                  Add as Outparcel
                </button>
              </div>
              <mat-accordion formArrayName="tenants">
                <mat-expansion-panel *ngFor="let tenant of tenants.controls; let i=index" [formGroupName]="i">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <span *ngIf="tenant.dirty && tenant.get('id').value != null">
                        <i class="fas fa-pencil-alt edited"></i>&nbsp;&nbsp;</span>
                      <span *ngIf="tenant.get('id').value == null">
                        <i class="fas fa-asterisk new"></i>&nbsp;&nbsp;</span>
                      <span>{{tenant.get('name').value}}</span>
                    </mat-panel-title>
                    <mat-panel-description *ngIf="tenant.get('outparcel').value">Outparcel</mat-panel-description>
                  </mat-expansion-panel-header>
                  <div>
                    <mat-form-field>
                      <input matInput placeholder="Tenant Name" formControlName="name">
                    </mat-form-field>
                    <mat-checkbox formControlName="outparcel" labelPosition="before">Is Outparcel</mat-checkbox>
                  </div>
                  <mat-action-row>
                    <mat-progress-bar mode="indeterminate" *ngIf="loadingTenants"></mat-progress-bar>
                    <button *ngIf="!loadingTenants" type="button" mat-raised-button color="warn"
                            (click)="deleteTenant(tenant.value, i)">
                      <i class="fas fa-trash"></i>&nbsp;&nbsp;Delete
                    </button>
                  </mat-action-row>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </mat-expansion-panel>
          <!-- SC Accesses -->
          <mat-expansion-panel [formGroup]="shoppingCenterSurveyForm">
            <mat-expansion-panel-header>
              <mat-panel-title>SC Accesses</mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <div class="flex flex-justify-center">
                <button type="button" mat-raised-button color="primary" (click)="addAccess()">
                  Add New Access
                </button>
              </div>
              <mat-accordion formArrayName="accesses">
                <mat-expansion-panel *ngFor="let access of accesses.controls; let i=index" [formGroupName]="i">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <span *ngIf="access.dirty && access.get('id').value != null">
                        <i class="fas fa-pencil-alt edited"></i>&nbsp;&nbsp;</span>
                      <span *ngIf="access.get('id').value == null">
                        <i class="fas fa-asterisk new"></i>&nbsp;&nbsp;</span>
                      <span>{{i + 1}}&nbsp;-&nbsp;{{access.get('accessType').value}}</span>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div>
                    <mat-form-field>
                      <mat-select placeholder="Access Type" formControlName="accessType">
                        <mat-option>Clear Selection</mat-option>
                        <mat-option *ngFor="let accessTypeOption of accessTypeOptions" [value]="accessTypeOption">
                          {{accessTypeOption}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div class="checklist">
                      <mat-checkbox formControlName="hasLeftIn">Has Left In</mat-checkbox>
                      <mat-checkbox formControlName="hasLeftOut">Has Left Out</mat-checkbox>
                      <mat-checkbox formControlName="hasRightIn">Has Right In</mat-checkbox>
                      <mat-checkbox formControlName="hasRightOut">Has Right Out</mat-checkbox>
                      <mat-checkbox formControlName="hasTrafficLight">Has Traffic Light</mat-checkbox>
                      <mat-checkbox formControlName="oneWayRoad">One Way Road</mat-checkbox>
                    </div>
                  </div>
                  <mat-action-row>
                    <mat-progress-bar mode="indeterminate" *ngIf="loadingAccesses"></mat-progress-bar>
                    <button *ngIf="!loadingAccesses" type="button" mat-raised-button color="warn"
                            (click)="deleteAccess(access.value, i)">
                      <i class="fas fa-trash"></i>&nbsp;&nbsp;Delete
                    </button>
                  </mat-action-row>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </mat-expansion-panel>
          <!-- Fuel -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Fuel</mat-panel-title>
            </mat-expansion-panel-header>
            <div [formGroup]="storeCasingForm">
              <mat-form-field>
                <input matInput type="number" placeholder="Estimated Weekly Gallons"
                       formControlName="fuelGallonsWeekly">
              </mat-form-field>
            </div>
            <div [formGroup]="storeSurveyForm">
              <mat-form-field>
                <input matInput type="number" placeholder="Number of Dispensers" formControlName="fuelDispenserCount">
                <mat-hint>Maximum number of cars that can fuel simultaneously</mat-hint>
              </mat-form-field>
              <div style="margin-top: 8px;">
                <mat-checkbox formControlName="fuelIsOpen24">Fuel is Open 24hrs</mat-checkbox>
              </div>
            </div>
          </mat-expansion-panel>
          <!-- Store Status -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Store Status</mat-panel-title>
              <mat-panel-description *ngIf="storeCasing.storeStatus != null">({{storeCasing.storeStatus.status}})
              </mat-panel-description>
              <mat-panel-description *ngIf="storeCasing.storeStatus == null">Select a Status
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngIf="storeCasing.storeStatus != null && !editingStoreStatus">
              <mds-data-field title="Status" [value]="storeCasing.storeStatus.status"></mds-data-field>
              <mds-data-field title="Status Start Date"
                              [dateValue]="storeCasing.storeStatus.statusStartDate"></mds-data-field>
            </div>
            <mat-progress-bar mode="indeterminate" *ngIf="editingStoreStatus"></mat-progress-bar>
            <mat-action-row *ngIf="!editingStoreStatus">
              <button type="button" *ngIf="storeCasing.storeStatus != null" mat-raised-button color="primary"
                      (click)="showStatusDialog()">
                Update Status
              </button>
              <button type="button" *ngIf="storeCasing.storeStatus == null" mat-raised-button color="accent"
                      (click)="showStatusDialog()">
                Select Status
              </button>
            </mat-action-row>
          </mat-expansion-panel>
          <!-- Fit/Format -->
          <mat-expansion-panel [formGroup]="storeSurveyForm">
            <mat-expansion-panel-header>
              <mat-panel-title>Fit/Format</mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <mat-form-field>
                <mat-select placeholder="Fit" formControlName="fit">
                  <mat-option>Clear Selection</mat-option>
                  <mat-option *ngFor="let fitOption of fitOptions" [value]="fitOption">{{fitOption}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Format" formControlName="format">
                  <mat-option>Clear Selection</mat-option>
                  <mat-option *ngFor="let formatOption of formatOptions" [value]="formatOption">{{formatOption}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-expansion-panel>
          <!-- Hours -->
          <mat-expansion-panel [formGroup]="storeSurveyForm">
            <mat-expansion-panel-header>
              <mat-panel-title>Hours</mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <mat-checkbox formControlName="storeIsOpen24">Open 24hrs</mat-checkbox>
            </div>
          </mat-expansion-panel>
          <!-- Store Conditions -->
          <mat-expansion-panel [formGroup]="storeCasingForm">
            <mat-expansion-panel-header>
              <mat-panel-title>Store Conditions</mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <mat-form-field>
                <mat-select placeholder="Ceiling" formControlName="conditionCeiling">
                  <mat-option>Clear Selection</mat-option>
                  <mat-option *ngFor="let condition of conditions" [value]="condition">{{condition}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Checkstands" formControlName="conditionCheckstands">
                  <mat-option>Clear Selection</mat-option>
                  <mat-option *ngFor="let condition of conditions" [value]="condition">{{condition}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Floors" formControlName="conditionFloors">
                  <mat-option>Clear Selection</mat-option>
                  <mat-option *ngFor="let condition of conditions" [value]="condition">{{condition}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Frozen/Refrigerated" formControlName="conditionFrozenRefrigerated">
                  <mat-option>Clear Selection</mat-option>
                  <mat-option *ngFor="let condition of conditions" [value]="condition">{{condition}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Shelving & Gondolas" formControlName="conditionShelvingGondolas">
                  <mat-option>Clear Selection</mat-option>
                  <mat-option *ngFor="let condition of conditions" [value]="condition">{{condition}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Walls" formControlName="conditionWalls">
                  <mat-option>Clear Selection</mat-option>
                  <mat-option *ngFor="let condition of conditions" [value]="condition">{{condition}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-expansion-panel>
          <!-- Pharmacy -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Pharmacy</mat-panel-title>
            </mat-expansion-panel-header>
            <div [formGroup]="storeCasingForm">
              <mat-form-field>
                <input matInput type="number" placeholder="Estimated Weekly Prescriptions"
                       formControlName="pharmacyScriptsWeekly">
              </mat-form-field>
              <mat-form-field>
                <input matInput type="number" placeholder="Estimated Avg. Prescription Price"
                       formControlName="pharmacyAvgDollarsPerScript">
                <span matPrefix>$&nbsp;</span>
              </mat-form-field>
              <mat-form-field>
                <input matInput type="number" placeholder="Number of Pharmacists"
                       formControlName="pharmacyPharmacistCount">
              </mat-form-field>
              <mat-form-field>
                <input matInput type="number" placeholder="Number of Technicians"
                       formControlName="pharmacyTechnicianCount">
              </mat-form-field>
            </div>
            <div>
              Add Store Survey for more fields
            </div>
            <div [formGroup]="storeSurveyForm" class="checklist">
              <div class="checklist-item">
                <mat-checkbox formControlName="pharmacyIsOpen24">Pharmacy is Open 24hrs</mat-checkbox>
              </div>
              <div class="checklist-item">
                <mat-checkbox formControlName="pharmacyHasDriveThrough">Pharmacy has drive-through</mat-checkbox>
              </div>
            </div>
          </mat-expansion-panel>
          <!-- Registers -->
          <mat-expansion-panel [formGroup]="storeSurveyForm">
            <mat-expansion-panel-header>
              <mat-panel-title>Registers</mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <mat-form-field>
                <input matInput type="number" placeholder="Normal" formControlName="registerCountNormal">
              </mat-form-field>
              <mat-form-field>
                <input matInput type="number" placeholder="Express" formControlName="registerCountExpress">
              </mat-form-field>
              <mat-form-field>
                <input matInput type="number" placeholder="Self Checkout" formControlName="registerCountSelfCheckout">
              </mat-form-field>
            </div>
          </mat-expansion-panel>
          <!-- Departments -->
          <mat-expansion-panel [formGroup]="storeSurveyForm">
            <mat-expansion-panel-header>
              <mat-panel-title>Departments</mat-panel-title>
            </mat-expansion-panel-header>
            <div id="departments">
              <div *ngFor="let departmentControl of departmentControls">
                <mat-checkbox [formControlName]="departmentControl.name">{{departmentControl.title}}</mat-checkbox>
                <button type="button" mat-icon-button color="primary"
                        (click)="showFieldInfo(departmentControl.title, departmentControl.info)">
                  <i class="fas fa-info-circle"></i></button>
              </div>
            </div>
          </mat-expansion-panel>
          <!-- Area -->
          <mat-expansion-panel [formGroup]="storeSurveyForm">
            <mat-expansion-panel-header>
              <mat-panel-title>Area</mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <mat-form-field>
                <input matInput type="number" placeholder="Sales Area" formControlName="areaSales">
                <span matSuffix>sqft</span>
              </mat-form-field>
              <div class="flex flex-space-between">
                <mat-form-field id="area-percent-input">
                  <input matInput type="number" placeholder="Percent of Total Area"
                         formControlName="areaSalesPercentOfTotal">
                  <span matSuffix>%</span>
                  <mat-hint>Between 0.01% and 100%</mat-hint>
                  <mat-error *ngIf="storeSurveyForm.get('areaSalesPercentOfTotal').invalid">Between 0.01% and 100%
                  </mat-error>
                </mat-form-field>
                <button type="button" mat-mini-fab color="primary" [matMenuTriggerFor]="areaMore">
                  <i class="fas fa-ellipsis-v"></i>
                </button>
              </div>
              <mat-form-field>
                <input matInput type="number" placeholder="Total Area" formControlName="areaTotal">
                <span matSuffix>sqft</span>
              </mat-form-field>
              <mat-checkbox formControlName="areaIsEstimate">Area Is Estimate</mat-checkbox>
              <mat-checkbox formControlName="naturalFoodsAreIntegrated">Natural Foods are Integrated</mat-checkbox>
            </div>
          </mat-expansion-panel>
          <!-- Volume -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Volume</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-progress-bar mode="indeterminate" *ngIf="savingVolume"></mat-progress-bar>
            <div *ngIf="storeCasing.storeVolume == null && !savingVolume">
              <div class="button-in-row">
                <button type="button" mat-raised-button color="accent" [disabled]="savingVolume"
                        (click)="createNewVolume()">Create New Volume
                </button>
              </div>
              <div class="button-in-row">
                <button type="button" mat-raised-button color="accent" [disabled]="savingVolume"
                        (click)="showExistingVolumes()">Show Existing Volumes
                </button>
              </div>
            </div>
            <div [formGroup]="storeVolumeForm" *ngIf="!savingVolume && storeCasing.storeVolume != null">
              <mat-form-field>
                <mat-select placeholder="Volume Type" formControlName="volumeType" required>
                  <mat-option>Clear Selection</mat-option>
                  <mat-option *ngFor="let volumeTypeOption of volumeTypeOptions" [value]="volumeTypeOption">
                    {{volumeTypeOption}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="storeVolumeForm.get('volumeType').value === 'ESTIMATE'">
                <table id="volume-table">
                  <tr>
                    <td>
                      <mat-form-field>
                        <input matInput placeholder="Meat Volume" type="number" formControlName="volumeMeat">
                        <span matPrefix>$&nbsp;</span>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field>
                        <input matInput placeholder="% of Total" type="number" formControlName="volumePercentMeat">
                        <span matSuffix>%</span>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field>
                        <input matInput placeholder="Produce Volume" type="number" formControlName="volumeProduce">
                        <span matPrefix>$&nbsp;</span>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field>
                        <input matInput placeholder="% of Total" type="number" formControlName="volumePercentProduce">
                        <span matSuffix>%</span>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field>
                        <input matInput placeholder="Grocery Volume" type="number" formControlName="volumeGrocery">
                        <span matPrefix>$&nbsp;</span>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field>
                        <input matInput placeholder="% of Total" type="number" formControlName="volumePercentGrocery">
                        <span matSuffix>%</span>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field>
                        <input matInput placeholder="Non-Food Volume" type="number" formControlName="volumeNonFood">
                        <span matPrefix>$&nbsp;</span>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field>
                        <input matInput placeholder="% of Total" type="number" formControlName="volumePercentNonFood">
                        <span matSuffix>%</span>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field>
                        <input matInput placeholder="Other Volume" type="number" formControlName="volumeOther">
                        <span matPrefix>$&nbsp;</span>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field>
                        <input matInput placeholder="% of Total" type="number" formControlName="volumePercentOther">
                        <span matSuffix>%</span>
                      </mat-form-field>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="flex flex-space-between">
                <mat-form-field class="example-full-width">
                  <input matInput type="number" placeholder="Total Weekly Volume" formControlName="volumeTotal">
                  <span matPrefix>$&nbsp;</span>
                  <mat-error *ngIf="storeVolumeForm.get('volumeTotal').invalid">Min: $10k, Max: $10M
                  </mat-error>
                </mat-form-field>
                <button type="button" mat-mini-fab color="primary" [mat-menu-trigger-for]="volumeMore">
                  <i class="fas fa-ellipsis-v"></i>
                </button>
              </div>
              <mat-form-field *ngIf="storeVolumeForm.get('volumeType').value === 'ESTIMATE'">
                <mat-select placeholder="Volume Confidence" formControlName="volumeConfidence">
                  <mat-option>Clear Selection</mat-option>
                  <mat-option *ngFor="let confidenceLevel of confidenceLevels" [value]="confidenceLevel">
                    {{confidenceLevel}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <input matInput [matDatepicker]="picker1" placeholder="Volume Date" formControlName="volumeDate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-error *ngIf="storeVolumeForm.get('volumeDate').invalid">Required</mat-error>
              </mat-form-field>
              <mat-form-field>
                <textarea placeholder="Volume Notes" formControlName="volumeNote" matInput></textarea>
              </mat-form-field>
            </div>
            <mat-action-row *ngIf="storeCasing.storeVolume != null || removingVolume">
              <button type="button" mat-button color="primary" (click)="removeVolume()"
                      *ngIf="storeCasing.storeVolume != null && !removingVolume">Remove Volume
              </button>
              <mat-progress-bar mode="indeterminate" *ngIf="removingVolume"></mat-progress-bar>
            </mat-action-row>
          </mat-expansion-panel>
          <!-- Notes -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Notes</mat-panel-title>
            </mat-expansion-panel-header>
            <div [formGroup]="storeCasingForm">
              <mat-form-field>
                <textarea formControlName="note" matInput placeholder="Store Casing Notes"></textarea>
              </mat-form-field>
            </div>
            <div [formGroup]="storeSurveyForm">
              <mat-form-field>
                <textarea formControlName="note" matInput placeholder="Store Notes"></textarea>
              </mat-form-field>
            </div>
            <div [formGroup]="shoppingCenterCasingForm">
              <mat-form-field>
                <textarea formControlName="note" matInput placeholder="Shopping Center Casing Notes"></textarea>
              </mat-form-field>
            </div>
            <div [formGroup]="shoppingCenterSurveyForm">
              <mat-form-field>
                <textarea formControlName="note" matInput placeholder="Shopping Center Notes"></textarea>
              </mat-form-field>
            </div>
          </mat-expansion-panel>
          <!-- Seasonality -->
          <mat-expansion-panel [formGroup]="storeSurveyForm">
            <mat-expansion-panel-header>
              <mat-panel-title>Seasonality</mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <mat-form-field>
                <input matInput type="number" placeholder="January" formControlName="seasonalityJan">
                <span matSuffix>%</span>
                <mat-error>Between -100% and 200%</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput type="number" placeholder="February" formControlName="seasonalityFeb">
                <span matSuffix>%</span>
                <mat-error>Between -100% and 200%</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput type="number" placeholder="March" formControlName="seasonalityMar">
                <span matSuffix>%</span>
                <mat-error>Between -100% and 200%</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput type="number" placeholder="April" formControlName="seasonalityApr">
                <span matSuffix>%</span>
                <mat-error>Between -100% and 200%</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput type="number" placeholder="May" formControlName="seasonalityMay">
                <span matSuffix>%</span>
                <mat-error>Between -100% and 200%</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput type="number" placeholder="June" formControlName="seasonalityJun">
                <span matSuffix>%</span>
                <mat-error>Between -100% and 200%</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput type="number" placeholder="July" formControlName="seasonalityJul">
                <span matSuffix>%</span>
                <mat-error>Between -100% and 200%</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput type="number" placeholder="August" formControlName="seasonalityAug">
                <span matSuffix>%</span>
                <mat-error>Between -100% and 200%</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput type="number" placeholder="September" formControlName="seasonalitySep">
                <span matSuffix>%</span>
                <mat-error>Between -100% and 200%</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput type="number" placeholder="October" formControlName="seasonalityOct">
                <span matSuffix>%</span>
                <mat-error>Between -100% and 200%</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput type="number" placeholder="November" formControlName="seasonalityNov">
                <span matSuffix>%</span>
                <mat-error>Between -100% and 200%</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput type="number" placeholder="December" formControlName="seasonalityDec">
                <span matSuffix>%</span>
                <mat-error>Between -100% and 200%</mat-error>
              </mat-form-field>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </form>
    </div>
  </div>
</div>

<mat-menu #areaMore="matMenu" [overlapTrigger]="false">
  <button type="button" mat-menu-item (click)="openAreaCalculator()">
    <i class="fas fa-calculator"></i>&nbsp;&nbsp;Area Calculator
  </button>
  <button type="button" mat-menu-item (click)="calculateSalesAreaFromTotal()">Calculate Sales from Total</button>
  <button type="button" mat-menu-item (click)="calculateTotalAreaFromSales()">Calculate Total from Sales</button>
</mat-menu>

<mat-menu #volumeMore="matMenu" [overlapTrigger]="false">
  <button type="button" mat-menu-item (click)="calculateDepartmentVolumesFromTotal()">
    Calculate Depts. from Total
  </button>
  <button type="button" mat-menu-item (click)="calculateTotalVolumeFromDepartments()">
    Calculate Total from Depts.
  </button>
  <button type="button" mat-menu-item (click)="showExistingVolumes()">
    <i class="fas fa-clock"></i>&nbsp;&nbsp;See All Store Volumes
  </button>
</mat-menu>
