<mds-sub-title-bar [subTitle]="storeName">
  <button title="Form Invalid" type="button" mat-icon-button color="warn" *ngIf="formInvalid">
    <i class="fas fa-exclamation-triangle fa-2x"></i>
  </button>
  <button type="submit" mat-mini-fab color="accent" (click)="saveForm()" form="store-casing-form"
          [disabled]="formPristine || formInvalid || saving">
    <i *ngIf="!saving" class="fas fa-save"></i>
    <i *ngIf="saving" class="fas fa-spinner fa-pulse"></i>
  </button>
</mds-sub-title-bar>

<div class="content-wrapper">
  <div *ngIf="loading" style="text-align: center; margin-top: 15px;">
    <i class="fas fa-spinner fa-3x fa-pulse" aria-hidden="true"> </i>
  </div>
  <form *ngIf="!loading" id="store-casing-form">
    <mat-accordion>
      <!-- Casing Date -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><i class="fas fa-calendar"></i>&nbsp;&nbsp;Casing Date</mat-panel-title>
          <mat-panel-description>{{storeCasing.casingDate | date}}</mat-panel-description>
        </mat-expansion-panel-header>
        <mds-casing-date></mds-casing-date>
      </mat-expansion-panel>
      <!-- Projects -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><i class="fas fa-clipboard"></i>&nbsp;&nbsp;Projects</mat-panel-title>
        </mat-expansion-panel-header>
        <mds-casing-projects></mds-casing-projects>
      </mat-expansion-panel>
      <!-- Visibility -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><i class="fas fa-eye"></i>&nbsp;&nbsp;Visibility</mat-panel-title>
        </mat-expansion-panel-header>
        <mds-visibility></mds-visibility>
      </mat-expansion-panel>
      <!-- Accessibility -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><i class="fas fa-road"></i>&nbsp;&nbsp;Accessibility</mat-panel-title>
        </mat-expansion-panel-header>
        <mds-accessibility></mds-accessibility>
      </mat-expansion-panel>
      <!-- Flow -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><i class="fas fa-car"></i>&nbsp;&nbsp;Flow</mat-panel-title>
        </mat-expansion-panel-header>
        <mds-flow></mds-flow>
      </mat-expansion-panel>
      <!-- Parking -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><i class="fas fa-parking"></i>&nbsp;&nbsp;Store Parking</mat-panel-title>
        </mat-expansion-panel-header>
        <mds-store-parking></mds-store-parking>
      </mat-expansion-panel>
      <!-- SC Tenants -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><i class="fas fa-store-alt"></i>&nbsp;&nbsp;Tenants</mat-panel-title>
        </mat-expansion-panel-header>
        <mds-tenants></mds-tenants>
      </mat-expansion-panel>
      <!-- Fuel -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><i class="fas fa-gas-pump"></i>&nbsp;&nbsp;Fuel</mat-panel-title>
        </mat-expansion-panel-header>
        <mds-fuel></mds-fuel>
      </mat-expansion-panel>
      <!-- Store Status -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><i class="fas fa-door-open"></i>&nbsp;&nbsp;Store Status</mat-panel-title>
          <mat-panel-description *ngIf="storeCasing.storeStatus">
            <span *ngIf="storeCasing.storeStatus">({{storeCasing.storeStatus}})</span>
            <span *ngIf="!storeCasing.storeStatus">Select a Status</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mds-store-status></mds-store-status>
      </mat-expansion-panel>
      <!-- Fit/Format -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><i class="fas fa-tag"></i>&nbsp;&nbsp;Fit/Format</mat-panel-title>
        </mat-expansion-panel-header>
        <mds-fit-format></mds-fit-format>
      </mat-expansion-panel>
      <!-- Hours -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><i class="fas fa-clock"></i>&nbsp;&nbsp;Hours</mat-panel-title>
        </mat-expansion-panel-header>
        <mds-hours></mds-hours>
      </mat-expansion-panel>
      <!-- Store Conditions -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><i class="fas fa-star"></i>&nbsp;&nbsp;Store Conditions</mat-panel-title>
        </mat-expansion-panel-header>
        <mds-store-condition></mds-store-condition>
      </mat-expansion-panel>
      <!-- Pharmacy -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><i class="fas fa-prescription-bottle"></i>&nbsp;&nbsp;Pharmacy</mat-panel-title>
        </mat-expansion-panel-header>
        <mds-pharmacy></mds-pharmacy>
      </mat-expansion-panel>
      <!-- Registers -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><i class="fas fa-barcode"></i>&nbsp;&nbsp;Registers</mat-panel-title>
        </mat-expansion-panel-header>
        <mds-registers></mds-registers>
      </mat-expansion-panel>
      <!-- Departments -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><i class="fas fa-wine-glass"></i>&nbsp;&nbsp;Departments</mat-panel-title>
        </mat-expansion-panel-header>
        <mds-departments></mds-departments>
      </mat-expansion-panel>
      <!-- Area -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><i class="fas fa-ruler-combined"></i>&nbsp;&nbsp;Area</mat-panel-title>
        </mat-expansion-panel-header>
        <mds-area></mds-area>
      </mat-expansion-panel>
      <!-- Volume -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><i class="fas fa-dollar-sign"></i>&nbsp;&nbsp;Volume</mat-panel-title>
        </mat-expansion-panel-header>
        <mds-casing-volume></mds-casing-volume>
      </mat-expansion-panel>
      <!-- Seasonality -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><i class="fas fa-sun"></i>&nbsp;&nbsp;Seasonality</mat-panel-title>
        </mat-expansion-panel-header>
        <mds-seasonality></mds-seasonality>
      </mat-expansion-panel>
      <!-- Notes -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><i class="fas fa-sticky-note"></i>&nbsp;&nbsp;General Notes</mat-panel-title>
        </mat-expansion-panel-header>
        <mds-casing-notes></mds-casing-notes>
      </mat-expansion-panel>
      <!-- Auditing Entity -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><i class="fas fa-stamp"></i>&nbsp;&nbsp;Audit</mat-panel-title>
        </mat-expansion-panel-header>
        <mds-auditing-entity-fields [entity]="storeCasing"></mds-auditing-entity-fields>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>

