<mds-sub-title-bar subTitle="Store Details">
  <button type="button" mat-icon-button color="warn" *ngIf="form.invalid">
    <i class="fas fa-exclamation-triangle fa-2x"></i>
  </button>
  <button type="submit" mat-mini-fab color="accent" (click)="saveForm()" form="store-form"
          [disabled]="form.pristine || form.invalid || saving">
    <i *ngIf="!saving" class="fas fa-save"></i>
    <i *ngIf="saving" class="fas fa-spinner fa-pulse"></i>
  </button>
</mds-sub-title-bar>

<div class="content-wrapper">
  <div *ngIf="loading" style="text-align: center">
    <i class="fas fa-spinner fa-pulse fa-2x"></i>
  </div>
  <form id="store-form" *ngIf="store" [formGroup]="form">
    <mat-form-field>
      <input matInput type="text" placeholder="Store Name" formControlName="storeName">
    </mat-form-field>
    <div *ngIf="!store.banner" id="banner-button-container">
      <button mat-raised-button color="primary" (click)="showBannerDialog()">Select Banner</button>
    </div>
    <div *ngIf="store.banner" id="banner-container">
      <mat-form-field (click)="showBannerDialog()">
        <input matInput readonly type="text" placeholder="Banner" [value]="store.banner.bannerName">
      </mat-form-field>
      <div>
        <img *ngIf="store.banner.logoFileName"
             (click)="showBannerDialog()"
             [src]="getUrlForLogoFileName(store.banner.logoFileName)"
             [alt]="store.banner.bannerName">
      </div>
    </div>
    <mat-form-field>
      <input matInput type="text" placeholder="Store Number" formControlName="storeNumber">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Type" formControlName="storeType" required>
        <mat-option>Clear Selection</mat-option>
        <mat-option *ngFor="let storeTypeOption of storeTypeOptions" [value]="storeTypeOption">
          {{storeTypeOption}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Fit" formControlName="fit">
        <mat-option>Clear Selection</mat-option>
        <mat-option *ngFor="let fitOption of fitOptions" [value]="fitOption">{{fitOption}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Format" formControlName="format">
        <mat-option>Clear Selection</mat-option>
        <mat-option *ngFor="let formatOption of formatOptions" [value]="formatOption">{{formatOption}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" autocomplete="off" placeholder="Sales Area" formControlName="areaSales">
      <span matSuffix>sqft</span>
      <mat-error>Leave blank if 0</mat-error>
    </mat-form-field>
    <mat-form-field id="area-percent-input">
      <input matInput type="number" autocomplete="off" placeholder="Percent of Total Area"
             formControlName="areaSalesPercentOfTotal">
      <span matSuffix>%</span>
      <mat-hint>Between 0.01% and 100%</mat-hint>
      <mat-error *ngIf="form.get('areaSalesPercentOfTotal').invalid">Between 0.01% and 100%
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" autocomplete="off" placeholder="Total Area" formControlName="areaTotal">
      <span matSuffix>sqft</span>
      <mat-error>Leave blank if 0</mat-error>
    </mat-form-field>
    <div class="checklist">
      <mat-checkbox formControlName="areaIsEstimate">Area Is Estimate</mat-checkbox>
      <mat-checkbox formControlName="naturalFoodsAreIntegrated">Natural Foods are Integrated</mat-checkbox>
      <mat-checkbox formControlName="storeIsOpen24">Open 24hrs</mat-checkbox>
    </div>
    <mat-form-field>
      <input matInput [matDatepicker]="dateOpened" placeholder="Store Opening Date"
             formControlName="dateOpened">
      <mat-datepicker-toggle matSuffix [for]="dateOpened"></mat-datepicker-toggle>
      <mat-datepicker #dateOpened></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="dateClosed" placeholder="Store Closing Date"
             formControlName="dateClosed">
      <mat-datepicker-toggle matSuffix [for]="dateClosed"></mat-datepicker-toggle>
      <mat-datepicker #dateClosed></mat-datepicker>
    </mat-form-field>
    <div class="checklist">
      <mat-checkbox formControlName="floating">
        Is a Float store?
      </mat-checkbox>
    </div>
    <mds-auditing-entity-fields *ngIf="store.id" [entity]="store"></mds-auditing-entity-fields>
  </form>
</div>
