.checklist {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  margin-bottom: 15px;
}

#banner-input {
  width: 400px;
}

#banner-button-container {
  display: flex;
  align-items: center;
  height: 65px;
  justify-content: center;
}

#banner-container {
  display: flex;
  justify-content: space-between;
}

#banner-container > div {
  margin: auto;
}
