<h2 mat-dialog-title>
  <span>Shopping Center Tenants&nbsp;&nbsp;<i class="fas fa-info-circle" (click)="showInfo()"></i></span>
</h2>
<div mat-dialog-content [formGroup]="form">
  <mat-form-field style="width: 100%">
    <textarea formControlName="newTenantNames" placeholder="Add Tenants (comma separated list)" matInput></textarea>
  </mat-form-field>
  <div id="add-buttons" class="flex flex-space-around">
    <button type="button" mat-raised-button color="accent" [disabled]="newTenantNames.pristine"
            (click)="parseTenants(false)">
      Add as Inline
    </button>
    <button type="button" mat-raised-button color="accent" [disabled]="newTenantNames.pristine"
            (click)="parseTenants(true)">
      Add as Outparcel
    </button>
  </div>
  <div class="vacancy-control">
    <button mat-mini-fab (click)="vacantCount = vacantCount - 1;" [disabled]="vacantCount < 1">
      <i class="fas fa-minus"></i>
    </button>
    <span>Vacancies: {{vacantCount}}</span>
    <button mat-mini-fab (click)="vacantCount = vacantCount + 1;"><i class="fas fa-plus"></i></button>
  </div>
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <div id="accordion-wrapper">
    <mat-accordion formArrayName="tenants">
      <mat-expansion-panel *ngFor="let tenant of tenants.controls; let i = index" [formGroupName]="i">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span *ngIf="tenant.dirty && tenant.get('id').value != null">
              <i class="fas fa-asterisk edited"></i>&nbsp;&nbsp;
            </span>
            <span>{{tenant.get('name').value}}</span>
          </mat-panel-title>
          <mat-panel-description *ngIf="tenant.get('outparcel').value">Outparcel
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <mat-form-field>
            <input matInput type="text" placeholder="Tenant Name" formControlName="name">
          </mat-form-field>
          <mat-checkbox formControlName="outparcel" labelPosition="before">Is Outparcel</mat-checkbox>
        </div>
        <mat-action-row>
          <button type="button" mat-raised-button color="warn"
                  [disabled]="saving"
                  (click)="deleteTenant(tenant.value, i)">
            <i class="fas fa-trash"></i>&nbsp;&nbsp;Delete
          </button>
          <button type="button" mat-raised-button color="accent"
                  [disabled]="tenant.pristine || tenant.invalid || saving"
                  (click)="updateTenant(tenant)">
            <span *ngIf="!saving"><i class="fas fa-save"></i>&nbsp;&nbsp;Save</span>
            <span *ngIf="saving"><i class="fas fa-spinner fa-pulse"></i></span>
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<div mat-dialog-actions class="flex-justify-center">
  <button type="button" *ngIf="!form.dirty" color="primary" (click)="close()" mat-raised-button>Close</button>
  <button type="button" *ngIf="form.dirty" disabled mat-raised-button>Save Tenant Edits First</button>
</div>
