.mat-dialog-title {
  margin-bottom: 0;
}

#add-buttons {
  width: auto;
  margin: 0 -16px 8px -16px;
}

.mat-action-row {
  justify-content: space-between;
}

#accordion-wrapper {
  width: auto;
  margin: 0 -16px;
}

.mat-expansion-panel-header-description{
  flex-grow: unset;
}

.vacancy-control {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.edited {
  color: #ff5722;
}
