<h3 mat-dialog-title class="Title">Merge Sites</h3>
<div mat-dialog-content *ngIf="mergedSite">

  <!--Material Radio Buttons-->
  <div *ngFor="let scAttrName of scAttrNames">
    <mat-radio-group *ngIf="mergedSite.shoppingCenter[scAttrName] !=null"
                     class="radio-group" [(ngModel)]="mergedSite.shoppingCenter[scAttrName]">
      <div *ngIf="site1.shoppingCenter[scAttrName] != null">
        <mat-radio-button ngclass="radio-button" [value]="site1.shoppingCenter[scAttrName]">
          {{site1.shoppingCenter[scAttrName]}}
        </mat-radio-button>
      </div>
      <div *ngIf="site2.shoppingCenter[scAttrName] != null">
        <mat-radio-button class="radio-button" [value]="site2.shoppingCenter[scAttrName]">
          {{site2.shoppingCenter[scAttrName]}}
        </mat-radio-button>
      </div>
      <mat-divider *ngIf="!last"></mat-divider>
    </mat-radio-group>
  </div>

  <div *ngFor="let siteAttrName of siteAttrNames">
    <mat-radio-group *ngIf="mergedSite[siteAttrName] != null"
                     class="radio-group" [(ngModel)]="mergedSite[siteAttrName]">
      <div *ngIf="site1[siteAttrName] != null">
        <mat-radio-button class="radio-button" [value]="site1[siteAttrName]">
          {{site1[siteAttrName]}}
        </mat-radio-button>
      </div>
      <div *ngIf="site2[siteAttrName] != null">
        <mat-radio-button class="radio-button" [value]="site2[siteAttrName]">
          {{site2[siteAttrName]}}
        </mat-radio-button>
      </div>
      <mat-divider *ngIf="!last"></mat-divider>
    </mat-radio-group>
  </div>
</div>


<!--Material Footer-->
<div mat-dialog-actions class="flex-space-between">
  <button mat-raised-button [mat-dialog-close]="null">Close</button>
  <button mat-raised-button color="accent" (click)="mergeSite(site1, site2, mergedSite)">Merge</button>
</div>
