<mat-list-item [id]="listItemId" [ngClass]="{'current-filter': storeListIsCurrentFilter(storeList)}">
    <h3 matLine>
        <b>
            {{storeList.storeListName}} <i [title]="'Only Showing Stores in ' + storeList.storeListName"
                *ngIf="storeListIsCurrentFilter(storeList)" class="fas fa-filter" style="color: #607d8b"></i>
        </b>
    </h3>
    <p matLine>
        <span>{{storeList.storeCount | number}}
            Store{{storeList.storeCount > 1 || storeList.storeCount === 0 ? 's' : ''}}</span>
        <!-- <span>{{storeList.subscriberCount | number}} Subscriber{{storeList.subscriberCount > 1 ? 's' : ''}}</span> -->
        <p matLine class="mat-caption">Created By {{storeList.createdBy.name}}</p>

        <!-- OPTIONS MENU FOR EACH STORELIST -->
        <button class='menu-icon-button' mat-icon-button color="primary" [mat-menu-trigger-for]="siteMenu">
            <i class="site-menu fas fa-ellipsis-v"></i>
        </button>

        <mat-menu #siteMenu="matMenu">

            <button mat-menu-item (click)="viewStores(storeList)">
                <i class="fas fa-list-ul"></i>
                <span>View Stores</span>
            </button>
            <button *ngIf="!storeListIsCurrentFilter(storeList)" mat-menu-item (click)="filterMap(storeList)">
                <i class="fas fa-filter"></i>
                <span>Filter Map</span>
            </button>
            <button *ngIf="storeListIsCurrentFilter(storeList)" mat-menu-item (click)="clearMapFilter()">
                <i class="fas fa-filter"></i>
                <span>Remove Filter</span>
            </button>
            <button mat-menu-item (click)="renameList(storeList)">
                <i class="fas fa-edit"></i>
                <span>Rename List</span>
            </button>
            <button class="menu-item-warn" mat-menu-item (click)="deleteList(storeList)">
                <i class="fas fa-trash-alt"></i>
                <span>Delete List</span>
            </button>
        </mat-menu>

</mat-list-item>