<div class="list-manager">
    <h2 mat-dialog-title *ngIf="page === pages.LISTMANAGER">List Manager - {{stores.length | number}} Store{{stores.length > 1 ? 's' : ''}} Selected</h2>
    <h2 mat-dialog-title *ngIf="page === pages.ADD">Add {{getStoreTitle()}} To Lists</h2>
    <div mat-dialog-content>
        <div *ngIf="page === pages.LISTMANAGER">
           <button mat-flat-button class="add-store-button" (click)="setPage(pages.ADD)">Add {{getStoreTitle()}} To Lists</button>
           <mat-progress-bar mode="indeterminate" *ngIf="!includedStoreLists.length"></mat-progress-bar>
           <h3>Lists Containing {{getStoreTitle()}}</h3>
           <mat-list id="included" *ngIf="includedStoreLists.length">
               <mat-list-item *ngFor="let storeList of includedStoreLists">
                   <h3 matLine><b>{{storeList.storeListName}}</b></h3>
                   <p matLine>
                       <span>{{storeList.storeCount | number}} Stores</span>
                       <span>{{storeList.subscriberCount | number}} Subscribers</span>
                    <p matLine class="mat-caption">Created By {{storeList.createdBy.name}}</p>
               </mat-list-item>
           </mat-list>
        </div>
        <div *ngIf="page === pages.ADD">
            <mat-form-field style="width: 100%;">
                <input #newListName matInput type="text" placeholder="New List Name" >
                <button [disabled]="!newListName.value" matSuffix mat-flat-button (click)="createNewStoreList(newListName.value)">Create New List</button>
            </mat-form-field>
            <mat-selection-list #selectionList class="excluded">
                <mat-list-option [value]="storeList" *ngFor="let storeList of excludedStoreLists">
                    <h3 matLine><b>{{storeList.storeListName}}</b></h3>
                    <p matLine>
                        <span>{{storeList.storeCount | number}} Stores</span>
                        <span>{{storeList.subscriberCount | number}} Subscribers</span>
                </mat-list-option>
            </mat-selection-list>
        </div>
    </div>
    <div mat-dialog-actions>
        <button *ngIf="page === pages.LISTMANAGER" color="primary" mat-raised-button mat-dialog-close>Close</button>
        <button *ngIf="page === pages.ADD" color="accent" mat-raised-button (click)="addToList()">Save</button>
        <button *ngIf="page === pages.ADD" color="primary" mat-raised-button (click)="setPage(pages.LISTMANAGER)">Cancel</button>
    </div>
</div>

