:host {
  overflow: hidden;
}

.content-wrapper {
  padding: 0 10px;
}

.checklist {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  margin-bottom: 15px;
}

#quad-button-wrapper {
  margin-bottom: 10px;
}
