:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
	width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

button:hover {
	background: orange;
	color: black;
}
