<h1>Users</h1>
<button type="button" class="btn btn-primary" routerLink="/user-detail">
  Add User
</button>
<div class="table-responsive">
  <table class="table table-hover">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Group</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{user.firstName}} {{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{ (user.role !== null) ? user.role.displayName : "No Role Assigned"}}</td>
      <td>{{ (user.group !== null) ? user.group.displayName : "No Group Assigned"}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/user-detail/', user.id]">Edit</button>
        <button type="button" class="btn btn-danger btn-sm">Delete</button>
      </td>
    </tr>
  </table>
</div>
