<fieldset [disabled]="isReadOnly">
  <mat-form-field>
    <input matInput placeholder="Store Name" [value]="store.storeName">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Banner" [value]="store.banner?.bannerName">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Store Number" [value]="store.storeNumber">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Date Opened" [value]="store.dateOpened">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Date Closed" [value]="store.dateClosed">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Current Status" [value]="store.currentStoreStatus.status">
  </mat-form-field>
</fieldset>
