<mds-sub-title-bar subTitle="Roles">
  <i class="fas fa-id-badge"></i>
  <button mat-mini-fab color="accent" routerLink="../role-detail" title="Create New Role">
    <i class="fas fa-plus"></i>
  </button>
</mds-sub-title-bar>

<div class="entity-table-wrapper">
  <table class="entity-table" matSort="sort" (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="displayName">Role Name</th>
      <th>Permissions</th>
    </tr>

    <tr *ngIf="!roles">
      <td style="text-align: center;" colspan="2">
        <i *ngIf="isLoading" class="fas fa-spinner fa-pulse fa-2x" style="margin: 10px;"></i>
        <span *ngIf="!isLoading && roles && roles.length === 0">No Roles</span>
      </td>
    </tr>

    <tr *ngFor="let role of roles" [routerLink]="['../role-detail/', role.id]">
      <td>{{role.displayName}}</td>
      <td>
        <button class="select-button" mat-raised-button
                color="accent"
                (click)="editPermissions($event, role)">
          <i class="fas fa-edit"></i>&nbsp;Edit Permissions
        </button>
      </td>
    </tr>
  </table>
</div>
