<h3 mat-dialog-title class="Title">Select Store Attributes</h3>
<div mat-dialog-content>

  <!--Main List for User to Select correct Store Attributes-->
  <div *ngFor="let storeAttrName of storeAttrNames">
    <div *ngIf="storeAttrName.show === true">

      <mat-radio-group
        class="radio-group" [(ngModel)]="mergedStore[storeAttrName.attrName]">
        <div class="attr-title">
          {{storeAttrName.displayName}}
        </div>
        <mat-radio-button
          *ngFor="let selectedStore of data.selectedStores"
          class="radio-button" [value]="selectedStore[storeAttrName.attrName]">
          {{selectedStore[storeAttrName.attrName]}}
        </mat-radio-button>
        <mat-divider></mat-divider>
      </mat-radio-group>

    </div>

    <div *ngIf="storeAttrName.show === false && mergedStore[storeAttrName.attrName] !== null">
      <div class="list">
        <div class="attr-title">
          {{storeAttrName.displayName}}
        </div>
        <div class="input-readonly">
          <input readonly [value]="mergedStore[storeAttrName.attrName]"/>
        </div>
        <mat-divider></mat-divider>
      </div>
    </div>
  </div>

  <div *ngIf="data.selectedStores[bannerAttrNames.banner.attrName]">
    <div *ngIf="data.selectedStores[bannerAttrNames.banner.attrName].show === true">

      <mat-radio-group  class="radio-group" [(ngModel)]="mergedStore[bannerAttrNames.banner.attrName]">
        <div class="attr-title">
          {{bannerAttrNames.banner.displayName}}
        </div>
        <mat-radio-button
          *ngFor="let selectedStore of data.selectedStores"
          class="radio-button" [value]="selectedStore[bannerAttrNames.banner.attrName]">
          {{selectedStore[bannerAttrNames.banner.attrName]}}
        </mat-radio-button>
        <mat-divider></mat-divider>
      </mat-radio-group>
    </div>
  </div>


</div>

<!--Material Footer-->
<div mat-dialog-actions class="flex-space-between">
  <button mat-raised-button (click)="closeDialog()">Close</button>
  <button *ngIf="!merging"
          mat-raised-button color="accent"
          (click)="mergeStores()">Merge
  </button>
  <button *ngIf="merging" mat-raised-button color="accent" disabled>Merge
    <i class="fas fa-spinner fa-pulse"></i></button>
</div>
