.radio-group {
  display: inline-flex;
  flex-direction: column;
}

.radio-button {
  margin: 6px;
  flex-direction: column;
}

.mat-dialog-content {
  margin: 5px;
  padding: 5px;
}

.mat-dialog-title {
  text-align: center;
}

.mat-divider {
  min-width: 125px;
  max-width: 400px;
}

.attr-title {
  font-weight: bold;
  font-family: sans-serif;
  padding-top: 8px;
}
