<form [formGroup]="storeForm">
  <mat-form-field>
    <input matInput type="number" autocomplete="off" placeholder="Sales Area" formControlName="areaSales">
    <span matSuffix>sqft</span>
    <mat-error>Leave blank if 0</mat-error>
  </mat-form-field>
  <div class="flex flex-space-between">
    <mat-form-field id="area-percent-input">
      <input matInput type="number" autocomplete="off" placeholder="Percent of Total Area"
             formControlName="areaSalesPercentOfTotal">
      <span matSuffix>%</span>
      <mat-hint>Between 0.01% and 100%</mat-hint>
      <mat-error *ngIf="storeForm.get('areaSalesPercentOfTotal').invalid">Between 0.01% and 100%
      </mat-error>
    </mat-form-field>
    <button type="button" mat-mini-fab (click)="openAreaCalculator()">
      <i class="fas fa-calculator"></i>
    </button>
  </div>
  <mat-form-field>
    <input matInput type="number" autocomplete="off" placeholder="Total Area" formControlName="areaTotal">
    <span matSuffix>sqft</span>
    <mat-error>Leave blank if 0</mat-error>
  </mat-form-field>
  <div class="checklist">
    <mat-checkbox formControlName="areaIsEstimate">Area Is Estimate</mat-checkbox>
    <mat-checkbox formControlName="naturalFoodsAreIntegrated">Natural Foods are Integrated</mat-checkbox>
  </div>
</form>
