<div mat-dialog-title class="title">
  Select A Project
</div>
<div mat-dialog-content>
  <div class="box">
    <div class="row header">
      <div class="search-section">
        <mat-form-field floatLabel="never" id="searchField">
          <i matPrefix class="fas fa-search"></i>
          <input matInput autofocus type="search" #projectSearchBox placeholder="Project Name" [disabled]="loading"
                 [(ngModel)]="projectQuery" name="projectQuery"/>
        </mat-form-field>
      </div>
      <mat-toolbar id="filter-section">
        <button mat-raised-button type="button" (click)="active = !active; getProjects();" [disabled]="loading">
          <i *ngIf="!active" class="far fa-play-circle"></i>
          <i *ngIf="active" class="fas fa-play-circle active"></i>
          <span>&nbsp;&nbsp;Active</span>
        </button>
        <button mat-raised-button type="button" (click)="primaryData = !primaryData; getProjects()"
                [disabled]="loading">
          <i *ngIf="!primaryData" class="far fa-star"></i>
          <i *ngIf="primaryData" class="fas fa-star yellow"></i>
          <span>&nbsp;&nbsp;Primary</span>
        </button>
      </mat-toolbar>
      <mat-progress-bar id="loadingProgressBar" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    </div>
    <mat-divider></mat-divider>
    <div class="row content">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let project of projects" (opened)="openProject(project)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="icon-container">
                <i *ngIf="project.active" class="fas fa-play-circle active"></i>
                <i *ngIf="project.primaryData" class="fas fa-star yellow"></i>
              </span>
              <span class="project-name">{{project.projectName}}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-action-row>
            <button mat-raised-button color="primary" type="button" (click)="editProject(project)">Edit</button>
            <button mat-raised-button color="primary" type="button" [disabled]="!project.hasBoundary" (click)="downloadBoundary(project)">
              <i class="fas fa-file-download"></i>&nbsp;Boundary
            </button>
            <button mat-raised-button color="accent" type="button" (click)="selectProject(project)">Select</button>
          </mat-action-row>
        </mat-expansion-panel>
        <div *ngIf="pageNumber < (totalPages - 1)" id="more" class="flex flex-justify-center">
          <button mat-raised-button color="accent" (click)="loadMore()">Load More</button>
        </div>
      </mat-accordion>
    </div>
  </div>
</div>
<div mat-dialog-actions class="flex-space-between">
  <button mat-raised-button (click)="closeDialog()">Cancel</button>
  <button mat-raised-button color="primary" (click)="openNewProjectDialog()">Create</button>
  <button mat-raised-button color="accent" (click)="clearSelectedProject()">No Project</button>
</div>
