<div mat-dialog-title class="title">
  Select A Project
</div>
<div mat-dialog-content>
  <div class="box">
    <div class="row header">
      <div class="search-section">
        <mat-form-field floatLabel="never" id="searchField">
          <i matPrefix class="fas fa-search"></i>
          <input matInput autofocus type="search" #projectSearchBox placeholder="Project Name"
                 [(ngModel)]="projectQuery" name="projectQuery"/>
        </mat-form-field>
      </div>
      <section class="filter-section">
        <mat-list dense>
          <mat-list-item>
            <div class="custom-select-list-item">
              <span><i class="fas fa-briefcase active"></i>&nbsp;&nbsp;Active</span>
              <mat-checkbox [(ngModel)]="active" (change)="getProjects()"></mat-checkbox>
            </div>
          </mat-list-item>
          <mat-list-item>
            <div class="custom-select-list-item">
              <span><i class="fas fa-star yellow"></i>&nbsp;&nbsp;Primary Data</span>
              <mat-checkbox [(ngModel)]="primaryData" (change)="getProjects()"></mat-checkbox>
            </div>
          </mat-list-item>
        </mat-list>
      </section>
    </div>
    <mat-divider></mat-divider>
    <div class="row content">
      <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
      <mat-nav-list>
        <mat-list-item *ngFor="let project of projects" (click)="selectProject(project)">
          <span class="icon-container">
            <i *ngIf="project.active" class="fas fa-briefcase active"></i>
            <i *ngIf="project.primary" class="fas fa-star yellow"></i>
          </span>
          <span class="project-name">{{project.projectName}}</span>
        </mat-list-item>
        <mat-list-item *ngIf="pageNumber < (totalPages - 1)" (click)="loadMore()">
          <button mat-raised-button color="primary">Load More...</button>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>
</div>
<div mat-dialog-actions class="flex-space-between">
  <button mat-raised-button color="accent" (click)="closeDialog()">Cancel</button>
  <button mat-raised-button color="primary" (click)="clearSelectedProject()">Select None</button>
</div>
