<div class="box">
  <mat-toolbar class="row header flex-space-between">
    <div>
      <button type="button" mat-raised-button color="accent" (click)="goBack()">Back</button>
    </div>
    <span id="title">Location Overview</span>
    <div>
    </div>
  </mat-toolbar>
  <div class="row content">
    <div class="list-wrapper">
      <div *ngIf="this.site == null">Loading Site</div>
      <div *ngIf="this.site != null">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Actions</mat-panel-title>
              <mat-panel-description>Pin, Assign, or Flag</mat-panel-description>
            </mat-expansion-panel-header>
            <div id="action-button-container">
              <button mat-raised-button color="accent">Pin</button>
              <button mat-raised-button color="accent">Assign</button>
              <button mat-raised-button color="accent">Flag as Duplicate</button>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Site</mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <mat-form-field class="example-full-width">
                <input readonly matInput placeholder="Address" [value]="site.address1">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input readonly matInput placeholder="City" [value]="site.city">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input readonly matInput placeholder="County" [value]="site.county">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input readonly matInput placeholder="State" [value]="site.state">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input readonly matInput placeholder="Postal Code" [value]="site.postalCode">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input readonly matInput placeholder="Intersection Type" [value]="site.intersectionType">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input readonly matInput placeholder="Quad" [value]="site.quad">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input readonly matInput placeholder="Primary Intersection Street"
                       [value]="site.intersectionStreetPrimary">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input readonly matInput placeholder="Secondary Intersection Street"
                       [value]="site.intersectionStreetSecondary">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input readonly matInput placeholder="Position in Center"
                       [value]="site.positionInCenter">
              </mat-form-field>
            </div>
            <mat-action-row>
              <button mat-raised-button color="accent" [routerLink]="['/casing/site-detail', site.id]">Edit Site Details</button>
            </mat-action-row>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Shopping Center</mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngIf="site.shoppingCenter != null">
              <mat-form-field class="example-full-width">
                <input readonly matInput placeholder="Shopping Center Name"
                       [value]="site.shoppingCenter.name">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input readonly matInput placeholder="Owner"
                       [value]="site.shoppingCenter.owner">
              </mat-form-field>
            </div>
            <div *ngIf="site.shoppingCenter == null">
              No Shopping Center
            </div>
            <mat-action-row *ngIf="site.shoppingCenter == null" style="justify-content: space-between">
              <button mat-raised-button color="accent">Select Existing</button>
              <button mat-raised-button color="accent">Create New</button>
            </mat-action-row>
            <mat-action-row *ngIf="site.shoppingCenter != null">
              <button mat-raised-button color="accent" [routerLink]="['/casing/shopping-center-detail', site.id]">Edit Shopping Center Details</button>
            </mat-action-row>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Stores</mat-panel-title>
            </mat-expansion-panel-header>
            <div></div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>
