<div class="box">
  <mat-toolbar class="row header flex-space-between">
    <div>
      <button type="button" mat-raised-button color="accent" (click)="goBack()">Back</button>
    </div>
    <span id="title">Location Overview</span>
    <div>
    </div>
  </mat-toolbar>
  <div class="row content">
    <div class="list-wrapper">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Actions</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div id="action-button-container">
            <button mat-raised-button color="accent">Pin</button>
            <button mat-raised-button color="accent">Assign</button>
            <button mat-raised-button color="accent">Flag as Duplicate</button>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Site</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Shopping Center</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Stores</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
