<div mat-dialog-title class="title">
  Select A Banner
</div>
<div mat-dialog-content id="content">
  <div class="search-section">
    <mat-form-field floatLabel="never" id="searchField">
      <i matPrefix class="fas fa-search"></i>
      <input matInput autofocus type="search" #bannerSearchBox placeholder="Banner Name" [disabled]="loading"
             [(ngModel)]="bannerQuery" name="bannerQuery"/>
    </mat-form-field>
  </div>
  <div id="loading" *ngIf="loading">
    <i class="fas fa-spinner fa-pulse fa-2x"></i>
  </div>
  <mat-list>
    <div *ngFor="let banner of banners">
      <div (click)="selectBanner(banner, $event)" class="banner-list-item">
        <div class="names">
          <div>{{banner.bannerName}}</div>
          <div *ngIf="getBannerCompanyName(banner)" title="Company" class="company-name" matLine>
            <i class="fas fa-level-up-alt fa-rotate-90"
               style="padding: 0 5px;"></i>&nbsp;{{getBannerCompanyName(banner)}}
          </div>
          <div title="Parent Company" class="company-name" *ngIf="getBannerParentCompanyName(banner)" matLine>
            <i class="fas fa-level-up-alt fa-rotate-90"
               style="padding: 0 5px; margin-left: 20px;"></i>&nbsp;{{getBannerParentCompanyName(banner)}}
          </div>
        </div>
        <div style="margin-left: 5px;">
          <img class="logo-img" *ngIf="banner.logoFileName" [src]="getBannerImageSrc(banner)" [alt]="banner.bannerName">
        </div>
        <!-- OPTIONS MENU FOR EACH BANNER -->
        <button id='menu-icon-button' class='menu-icon-button'
                mat-icon-button color="primary" [mat-menu-trigger-for]="bannerMenu">
          <i id="menu-icon-button-icon" class="banner-menu fas fa-ellipsis-v"></i>
        </button>
        <mat-menu #bannerMenu="matMenu">
          <button mat-menu-item (click)="changeLogo(banner)">
            <i class="fas fa-image"></i>
            <span>&nbsp;Change Logo</span>
          </button>
        </mat-menu>
      </div>
      <mat-divider></mat-divider>
    </div>
    <mat-list-item *ngIf="pageNumber < (totalPages - 1)" id="more">
      <button mat-raised-button color="accent" (click)="loadMore()">Load More</button>
    </mat-list-item>
  </mat-list>
</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
</div>
