mat-form-field i {
  margin-right: 8px;
}

mat-form-field .mat-input-wrapper {
  padding-bottom: 8px;
}

#content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.yellow {
  color: goldenrod;
}

.active {
  color: #4554d1;
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

mat-list {
  flex: 1;
  overflow: auto;
}

.search-section {
  padding: 0 8px 0 9px;
}

#more {
  display: flex;
  justify-content: center;
  padding: 8px 0;
}

.logo-img {
  max-height: 40px;
  max-width: 100px;
}

.banner-list-item {
  padding: 3px 5px;
  display: flex;
  align-items: center;
  min-height: 50px;
}

.banner-list-item:hover {
  cursor: pointer;
  background: #efefef;
}

.names {
  flex: 1;
  overflow: hidden;
}

.names > div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.company-name {
  font-size: small;
}

#loading {
  display: flex;
  justify-content: center;
  margin: 3px;
}
