<div style="min-height: 65px;">
  <div *ngIf="gettingStoreSource" style="height: 100%; display: flex; align-items: center;">
    <i class="fas fa-spinner fa-pulse fa-2x" style="margin-left: 30px;"></i>
  </div>
  <div class='flex-container' *ngIf="!gettingStoreSource">
    <div *ngIf="storeSource">
      <a *ngIf="storeSource.sourceUrl" class='large-text' [href]="storeSource.sourceUrl" target="_blank">
        {{storeSource.sourceStoreName}}
      </a>
      <div *ngIf="!storeSource.sourceUrl" class='large-text'>{{storeSource.sourceStoreName}}</div>
      <div class="med-text" *ngIf="storeSource.bannerSource">
        <strong>{{storeSource.bannerSource.sourceBannerName}}</strong>
      </div>
      <div class='med-text'>{{getStoreSourceAddressString()}}</div>
      <div class='small-text'
           *ngIf="storeSource.storeSourceData && storeSource.storeSourceData.storeStatus">
        Status: {{storeSource.storeSourceData.storeStatus}}
      </div>
    </div>
    <button *ngIf="showNoMatchButton" (click)="onNoMatch.emit()" mat-raised-button color="primary">
      No Match
    </button>
    <button *ngIf="showNewSiteButton" (click)="onCreateNewSite.emit()" mat-raised-button color="primary">
      Create New Site
    </button>
  </div>
</div>
<div class='accent-bar large-text'>Match to Existing</div>
<div class='results-table'>
  <div class='loader' *ngIf="!siteMarkers">
    <i class="fas fa-spinner fa-pulse fa-2x"></i>
  </div>
  <div *ngIf="siteMarkers">
    <div *ngFor="let site of siteMarkers" class="results-item">
      <div class="results-header large-text flex-container">
        <div *ngIf="showMatchShoppingCenterButton">
          <button mat-icon-button [mat-menu-trigger-for]="siteMenu" class="site-menu">
            <i class="fas fa-ellipsis-v"></i>
          </button>
          <mat-menu #siteMenu="matMenu">
            <button (click)="onCreateNewSiteForShoppingCenter.emit(site.shoppingCenterId)" mat-menu-item>
              Add Sister Shopping Center Site
            </button>
          </mat-menu>
        </div>
        <div *ngIf="site.distanceFrom != null" [style.color]="site.distanceFrom < 0.5 ? 'green': '#ff9802'"
             class='site-distance'>
          <i class="fas fa-arrow-circle-up" [style.transform]="site.heading"></i> {{site.distanceFrom.toFixed(2)}}
          Miles
        </div>
        <div class='site-title'>{{getSiteAddressString(site)}}</div>
        <button *ngIf="showNewStoreButton" (click)="onCreateNewStoreForSite.emit(site.id)" mat-raised-button
                color="primary" class='add-store'>New Store
        </button>
      </div>
      <mat-divider></mat-divider>
      <div class="results-each" *ngFor="let store of site.stores">
        <div class="store-record">
          <div class='store-attribute'>{{store.storeName}}</div>
          <div class='hidden-xs store-attribute'>{{store.storeType}}</div>
          <div class='hidden-xs store-attribute'>{{store.currentStoreStatus}}</div>
          <button (click)="onStoreMatched.emit(store.id)" mat-raised-button
                  [color]="isBestMatch(store.id) ? 'accent' : 'primary'">
            Match
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
