<h3 mat-dialog-title>Shopping Center Accesses</h3>
<div mat-dialog-content [formGroup]="form">
  <div id="add-buttons" class="flex flex-justify-center">
    <button type="button" mat-raised-button color="accent" (click)="createNewAccess()">
      Add New Access
    </button>
  </div>
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <div id="accordion-wrapper">
    <mat-accordion formArrayName="accesses">
      <mat-expansion-panel *ngFor="let access of accesses.controls; let i=index" [formGroupName]="i">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span *ngIf="access.dirty && access.get('id').value != null">
              <i class="fas fa-asterisk edited"></i>&nbsp;&nbsp;
            </span>
            <span>{{i + 1}}&nbsp;-&nbsp;{{access.get('accessType').value}}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <mat-form-field>
            <mat-select placeholder="Access Type" formControlName="accessType">
              <mat-option>Clear Selection</mat-option>
              <mat-option *ngFor="let accessTypeOption of accessTypeOptions" [value]="accessTypeOption">
                {{accessTypeOption}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="checklist">
            <mat-checkbox formControlName="hasLeftIn">Has Left In</mat-checkbox>
            <mat-checkbox formControlName="hasLeftOut">Has Left Out</mat-checkbox>
            <mat-checkbox formControlName="hasRightIn">Has Right In</mat-checkbox>
            <mat-checkbox formControlName="hasRightOut">Has Right Out</mat-checkbox>
            <mat-checkbox formControlName="hasTrafficLight">Has Traffic Light</mat-checkbox>
            <mat-checkbox formControlName="oneWayRoad">One Way Road</mat-checkbox>
          </div>
        </div>
        <mat-action-row>
          <button type="button" mat-raised-button color="warn"
                  [disabled]="saving"
                  (click)="deleteAccess(access.value, i)">
            <i class="fas fa-trash"></i>&nbsp;&nbsp;Delete
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<div mat-dialog-actions class="flex-justify-center">
  <button type="button" *ngIf="!form.dirty" [disabled]="saving" color="primary" mat-dialog-close mat-raised-button>Close</button>
  <button type="button" *ngIf="form.dirty && !saving" [disabled]="saving" color="accent" (click)="saveAllAndClose()" mat-raised-button>
    <span *ngIf="!saving">Save All and Close</span>
    <i *ngIf="saving" class="fas fa-spinner fa-pulse"></i>
  </button>
</div>
