:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 16px;
}

#fields {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#scenario-assumptions {
  overflow-x: auto;
  white-space: nowrap;
  border: 1px dotted gray;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto 16px;
  min-height: fit-content;
}

#scenario-assumptions::-webkit-scrollbar {
  height: unset;
}

h3 {
  text-align: center;
}
