<h3 mat-dialog-title>Configure Match Settings</h3>
<mat-dialog-content>
<mat-horizontal-stepper [linear]='true' #stepper>
  <ng-template matStepperIcon="edit">
    <i class="fas fa-pencil-alt"></i>
  </ng-template>
  <ng-template matStepperIcon="done">
    <i class="fas fa-check"></i>
  </ng-template>
  <mat-step editable="false">
    <ng-template matStepLabel>Reference Fields</ng-template>
    <div class="dialog-wrapper">
      <form [formGroup]="form">
        <mat-form-field>
          <mat-select matInput formControlName="name" required>
            <mat-option value=""></mat-option>
            <mat-option placeholder="Name Field" [value]="field" *ngFor="let field of fields">{{field}}</mat-option>
          </mat-select>
          <mat-hint>Name Field</mat-hint>
        </mat-form-field><br>
        <mat-form-field>
          <mat-select matInput formControlName="lat">
            <mat-option value=""></mat-option>
            <mat-option placeholder="Lat Field" [value]="field" *ngFor="let field of fields">{{field}}</mat-option>
          </mat-select>
          <mat-hint>Latitude Field</mat-hint>
        </mat-form-field><br>
        <mat-form-field>
          <mat-select matInput formControlName="lng">
            <mat-option value=""></mat-option>
            <mat-option [value]="field" *ngFor="let field of fields">{{field}}</mat-option>
          </mat-select>
          <mat-hint>Longitude Field</mat-hint>
        </mat-form-field><br>
        <mat-form-field>
                <input type="text" placeholder="Company" aria-label="Number" 
                matInput 
                formControlName="company" 
                [matAutocomplete]="auto" 
                (input)="filterCompanies($event.target.value)" 
                >
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="getBannersFromCompany()">
                  <mat-option *ngFor="let company of filteredCompanies" [value]="company.companyName">
                    {{company.companyName}}
                  </mat-option>
                </mat-autocomplete>
        </mat-form-field><br>
        <mat-form-field *ngIf="banners.length && banners.length === bannerFetches">
             <mat-select matInput formControlName="banner">
              <mat-option value=""></mat-option>
            <mat-option [value]="banner" *ngFor="let banner of banners">{{banner.bannerName}}</mat-option>
          </mat-select>
          <mat-hint>Banner</mat-hint>
        </mat-form-field>
        
        <mat-progress-bar style="margin-top: 10px" *ngIf="form.value.company && banners.length !== bannerFetches" mode="indeterminate"></mat-progress-bar>
         <br *ngIf="form.value.company && banners.length !== bannerFetches">
        <mat-form-field>
          <mat-select matInput formControlName="storeNumber">
            <mat-option value=""></mat-option>
            <mat-option [value]="field" *ngFor="let field of fields">{{field}}</mat-option>
          </mat-select>
          <mat-hint>Store Number Field</mat-hint>
        </mat-form-field>
      </form>
    </div>
  </mat-step>
  <mat-step editable="false">
    <ng-template matStepLabel>Update Fields</ng-template>
    <div class="dialog-wrapper">
      <button mat-flat-button (click)="addFieldMappingItem('update')">Add Field</button>
      <div class="update-items-wrapper" *ngFor="let item of updateItems;">
        <mat-form-field>
          <mat-select [id]="item.id + '_fileField'" matInput (selectionChange)="updateSelectedFileField(item.id, $event.value, 'update')"
            [(value)]="item.selectedFileField">
            <mat-option value=""></mat-option>
            <mat-option [value]="fileField" *ngFor="let fileField of item.fileFields">{{fileField}}</mat-option>
          </mat-select>
          <mat-hint>File Field</mat-hint>
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-select [id]="item.id + '_storeField'" matInput (selectionChange)="updateSelectedStoreField(item.id, $event.value, 'update')"
            [(value)]="item.selectedStoreField">
            <mat-option value=""></mat-option>
            <mat-option [value]="storeField" *ngFor="let storeField of item.storeFields">{{storeField}}</mat-option>
          </mat-select>
          <mat-hint>Store Field</mat-hint>
        </mat-form-field>
        <br/>
        <mat-form-field *ngIf="showVolumeFields(item)">
          <mat-select matInput (selectionChange)="updateVolumeType($event.value)"
            [(value)]="volumeType">
            <mat-option value=""></mat-option>
            <mat-option [value]="type" *ngFor="let type of volumeTypes">{{type}}</mat-option>
          </mat-select>
          <mat-hint>Volume Type</mat-hint>
        </mat-form-field>
        <br/>
        <mat-form-field *ngIf="showVolumeFields(item)">
          <input matInput placeholder="Volume Date" type="date" [value]="volumeDate">
        </mat-form-field>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button color="primary" mat-flat-button (click)="goBackward()">Back</button>
    <button [disabled]="!formIsValid()" color="warn" mat-flat-button (click)="goForward();">Proceed</button>
</mat-dialog-actions>