<mds-sub-title-bar subTitle="Users">
  <i class="fas fa-address-book"></i>
  <button mat-mini-fab color="accent" routerLink="../user-detail" title="Create New User">
    <i class="fas fa-plus"></i>
    </button>
</mds-sub-title-bar>

<div class="entity-table-wrapper">
  <table class="entity-table" matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="firstName">First</th>
      <th mat-sort-header="lastName">Last</th>
      <th mat-sort-header="email">Email</th>
      <th mat-sort-header="role">Role</th>
      <th mat-sort-header="group">Group</th>
    </tr>

    <tr *ngIf="!userProfiles">
      <td colspan="5" style="text-align: center;">
        <i *ngIf="isLoading" class="fas fa-spinner fa-pulse fa-2x" style="margin: 10px"></i>
        <span *ngIf="!isLoading && userProfiles && userProfiles.length === 0">No Users</span>
      </td>
    </tr>

    <tr *ngFor="let userProfile of userProfiles" [routerLink]="['../user-detail/', userProfile.id]">
      <td>{{userProfile.firstName}}</td>
      <td>{{userProfile.lastName}}</td>
      <td>{{userProfile.email}}</td>
      <td>
        <button class="select-button" mat-raised-button
                [color]="userProfile.role ? 'primary' : 'accent'"
                (click)="selectRole($event, userProfile)">
          {{userProfile.role ? userProfile.role.displayName : 'Click to set'}}
            </button>
      </td>
      <td>
        <button class="select-button" mat-raised-button
                [color]="userProfile.group ? 'primary' : 'accent'"
                (click)="selectGroup($event, userProfile)">
          {{userProfile.group ? userProfile.group.displayName : 'Click to set'}}
            </button>
      </td>
    </tr>
  </table>
</div>
