<div class="box">
  <mat-toolbar class="row header flex-space-between">
    <button type="button" mat-icon-button (click)="goBack()"><i class="fas fa-chevron-left"></i></button>
    <span><i class="fas fa-address-book"></i> Users</span>
    <button mat-raised-button color="primary" routerLink="../user-detail">
      Add User
    </button>
  </mat-toolbar>
  <div class="row content">
    <div class="list-wrapper">
      <h3 *ngIf="userProfiles && userProfiles.length < 1">No Users</h3>
      <div *ngIf="isLoading" style="text-align: center">
        <i class="fas fa-spinner fa-3x fa-pulse" aria-hidden="true"></i>
      </div>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let userProfile of userProfiles">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span *ngIf="userProfile.firstName || userProfile.lastName">{{userProfile.firstName}} {{userProfile.lastName}}</span>
              <span *ngIf="!userProfile.firstName && !userProfile.lastName">{{userProfile.email}}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p><strong>Email:</strong> {{userProfile.email}}</p>
          <p><strong>Role:</strong> {{userProfile.role ? userProfile.role.displayName : "No role assigned"}}</p>
          <p><strong>Group:</strong> {{userProfile.group ? userProfile.group.displayName : "No group assigned"}}</p>
          <mat-action-row>
            <button [disabled]="isDeleting" mat-button color="warn" (click)="confirmDelete(userProfile)">
              <span *ngIf="isDeleting"><i class="fas fa-spinner fa-pulse" aria-hidden="true"></i></span>
              <span>Delete</span>
            </button>
            <button [disabled]="isDeleting" mat-button color="primary"
                    [routerLink]="['../user-detail/', userProfile.id]">
              Edit
            </button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-toolbar color="primary" *ngIf="latestPage != null && !latestPage.last" class="flex-space-between"
                   (click)="loadMore()">
        <span></span>
        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
        <button mat-raised-button color="primary" *ngIf="!isLoading">Load More...</button>
        <span></span>
      </mat-toolbar>
    </div>
  </div>
</div>
