<div class="box">
  <mat-toolbar color="primary" class="row header flex-space-between">
    <div>
      <button type="button" mat-mini-fab color="primary" (click)="goBack()"><i class="fas fa-arrow-left"></i></button>
    </div>
    <span id="title">Site Overview</span>
    <div>
      <button mat-icon-button [mat-menu-trigger-for]="siteActionMenu">
        <i class="fas fa-ellipsis-v"></i>
      </button>
    </div>
  </mat-toolbar>
  <mat-divider></mat-divider>
  <div class="row content">
    <div class="list-wrapper">
      <div *ngIf="site == null || saving">
        <mat-progress-bar class="centered" mode="indeterminate"></mat-progress-bar>
      </div>
      <div *ngIf="site != null">
        <mat-card *ngIf="site.assignee != null && !saving" class="simple-card notice">
          <div class="flex flex-space-between flex-align-center">
            <span>Assigned to <strong>{{site.assignee.email}}</strong></span>
            <button mat-raised-button color="accent" (click)="assignToUser(null)">Unassign</button>
          </div>
        </mat-card>
        <mat-card *ngIf="site.duplicate && !saving" class="simple-card warning">
          <div class="flex flex-space-between flex-align-center">
            <span><i class="fas fa-flag"></i>&nbsp;Flagged As Duplicate</span>
            <button mat-raised-button color="warn" (click)="setDuplicateFlag(false)">Unflag</button>
          </div>
        </mat-card>
        <div class="mds-card">
          <div class="header">
            <span class="title">Site</span>
          </div>
          <div class="content">
            <mds-data-field title="Address" [value]="site.address1"></mds-data-field>
            <mds-data-field title="City" [value]="site.city"></mds-data-field>
            <mds-data-field title="County" [value]="site.county"></mds-data-field>
            <mds-data-field title="Postal Code" [value]="site.postalCode"></mds-data-field>
            <mds-data-field title="Intersection Type" [value]="site.intersectionType"></mds-data-field>
            <mds-data-field title="Quad" [value]="site.quad"></mds-data-field>
            <mds-data-field title="1&deg; Intersection St." [value]="site.intersectionStreetPrimary"></mds-data-field>
            <mds-data-field title="2&deg; Intersection St." [value]="site.intersectionStreetSecondary"></mds-data-field>
            <mds-data-field title="Position in Center" [value]="site.positionInCenter"></mds-data-field>
          </div>
          <mat-toolbar color="primary" class="flex-space-between">
            <span></span>
            <button mat-raised-button color="accent" [routerLink]="['/casing/site-detail', site.id]">
              Edit
            </button>
          </mat-toolbar>
        </div>

        <div class="mds-card">
          <div class="header">
            <span class="title">Shopping Center</span>
          </div>
          <div class="content" *ngIf="site.shoppingCenter != null">
            <mds-data-field title="Name" [value]="site.shoppingCenter.name"></mds-data-field>
            <mds-data-field title="Owner" [value]="site.shoppingCenter.owner"></mds-data-field>
          </div>
          <div class="content" *ngIf="site.shoppingCenter == null">
            <mat-list>
              <mat-list-item>
                <button class="centered" mat-raised-button color="accent">Select Existing Shopping Center</button>
              </mat-list-item>
              <mat-list-item>
                <button class="centered" mat-raised-button color="accent" routerLink="/casing/shopping-center-detail">
                  Create New Shopping Center
                </button>
              </mat-list-item>
            </mat-list>
          </div>
          <mat-toolbar class="flex-space-between" color="primary" *ngIf="site.shoppingCenter != null">
            <button mat-icon-button [mat-menu-trigger-for]="shoppingCenterActionMenu">
              <i class="fas fa-ellipsis-v"></i>
            </button>
            <button mat-raised-button color="accent"
                    [routerLink]="['/casing/shopping-center-detail', site.shoppingCenter.id]">
              Edit
            </button>
          </mat-toolbar>
          <mat-menu #shoppingCenterActionMenu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item disabled>
              Merge with another SC
            </button>
            <button mat-menu-item disabled>
              View other Sites in SC
            </button>
            <button mat-menu-item [routerLink]="['/casing/shopping-center', site.shoppingCenter.id, 'shopping-center-casings']">
              Manage Casings
            </button>
          </mat-menu>
        </div>

        <div class="mds-card">
          <div class="header">
            <span class="title">Stores</span>
          </div>
          <div class="content" id="tab-content">
            <mat-tab-group>
              <mat-tab label="Active">
                <mds-store-summary-card *ngIf="activeStore != null"
                                        [store]="activeStore"
                                        (onStoreUpdated)="initSite(site.id)"></mds-store-summary-card>
                <div class="mds-card" *ngIf="activeStore == null">
                  <div class="header">
                    <div class="title">No Active Store</div>
                  </div>
                  <mat-toolbar color="primary" class="flex-space-between">
                    <button mat-raised-button color="accent" class="centered">Create New Store</button>
                  </mat-toolbar>
                </div>
              </mat-tab>

              <mat-tab label="Future">
                <mds-store-summary-card *ngIf="futureStore != null"
                                        [store]="futureStore"
                                        (onStoreUpdated)="initSite(site.id)"></mds-store-summary-card>
                <div class="mds-card" *ngIf="futureStore == null">
                  <div class="header">
                    <div class="title">No Future Store</div>
                  </div>
                  <mat-toolbar color="primary">
                    <button mat-raised-button color="accent" class="centered">Create New Store</button>
                  </mat-toolbar>
                </div>
              </mat-tab>

              <mat-tab label="Historical">
                <mds-store-summary-card *ngFor="let store of historicalStores"
                                        [store]="store"
                                        (onStoreUpdated)="initSite(site.id)"></mds-store-summary-card>
                <div class="mds-card" *ngIf="historicalStores == null || historicalStores.length < 1">
                  <div class="header">
                    <div class="title">No Historical Stores</div>
                  </div>
                  <mat-toolbar color="primary">
                    <button mat-raised-button color="accent" class="centered">Create New Store</button>
                  </mat-toolbar>
                </div>
              </mat-tab>
            </mat-tab-group>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<mat-menu #siteActionMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item disabled="true">
    <i class="fas fa-thumbtack"></i>&nbsp;Pin to Device
  </button>
  <button mat-menu-item (click)="openAssignmentDialog()">
    <i class="fas fa-user"></i>&nbsp;Assign to Analyst
  </button>
  <button mat-menu-item (click)="setDuplicateFlag(true)" *ngIf="site != null && !site.duplicate">
    <i class="fas fa-flag"></i>&nbsp;Flag as Duplicate
  </button>
</mat-menu>

