#action-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#action-button-container button {
  margin-top: 5px;
  margin-bottom: 5px;
}

.list-wrapper mat-expansion-panel {
  margin: 8px 5px;
}

.centered {
  margin: 0 auto;
}

.spacer {
  flex: 1 1 auto;
}

.filling-toolbar {
  width: auto;
  margin: 0 -24px;
}

::ng-deep .mat-tab-label {
  flex-basis: 0;
  flex-grow: 1;
}

.widened {
  margin: 0 -24px;
}

#assignment-card {
  margin: 4px;
  padding: 12px;
}
