<div class="sort-toolbar">
    <mat-form-field>
        <mat-label>Sort Results</mat-label>
        <mat-select [(value)]="sortType" #sortTypeSelect (selectionChange)="setSortOptions(sortTypeSelect.value, null)">
            <mat-optgroup *ngFor="let group of getSortGroups()" [label]="group.name">
                <mat-option *ngFor="let key of group.keys" [value]="key.enumIndex">
                    {{key.label}}
                </mat-option>
            </mat-optgroup>
        </mat-select>
    </mat-form-field>
    <mat-form-field style="min-width: 150px;">
        <mat-label>Order</mat-label>
        <mat-select #sortDirectionSelect [(value)]="sortDirection"
            (selectionChange)="setSortOptions(null, sortDirectionSelect.value)">
            <mat-option [value]="0">
                <i class="fas fa-sort-amount-up"></i> Ascending
            </mat-option>
            <mat-option [value]="1">
                <i class="fas fa-sort-amount-down"></i> Descending
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<mat-progress-bar mode="indeterminate" *ngIf="isFetching || items === undefined"></mat-progress-bar>
<div #listOfStores class="list-of-items" id="listOfStores" *ngIf="renderer.length && !isFetching">
    <div *ngFor="let item of renderer; let itemIndex = index;" [id]="getItemIndex(itemIndex)">
        <div class="site">
            <div class="site-info">
                <div>
                    <div>{{getAddressLabel(item)}}</div>
                    <div>{{getFormattedIntersection(item)}}</div>
                </div>
                <div>
                    <i (click)="showOnMap(item)" title="Center On Map"
                        class="fas fa-map-marked-alt show-on-map-button"></i>
                </div>
            </div>
            <div class="store-info">
                <div [id]="getIdForElem(item, store)" (click)="select(item, store)"
                    [ngClass]="{'store-info-item': true, 'highlighted': shouldHighlight(store)}"
                    *ngFor="let store of item.stores">
                    <div class="store">
                        <div class="store-descriptions">
                            <div class="store-name">{{store.storeName}}</div>
                            <div class="store-subtext">{{getStoreSubtext(item, store)}}</div>
                        </div>

                        <i (click)="removeStoreFromList(store)" title="Remove From List"
                            class="fas fa-trash show-on-map-button"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- <mat-progress-bar mode="indeterminate" *ngIf="!storeList"></mat-progress-bar>
<mat-list #listOfStores id="listOfStores" (scroll)="reachedBottom()" *ngIf="storesForRender.length">
    <mat-list-item *ngFor="let store of storesForRender">
        <h3 matLine><b>{{store.storeName}} ({{store.banner ? store.banner.bannerName : ''}} #{{store.id}})</b></h3>
        <p matLine>
            <span>{{store.site.address1}} • {{store.site.city}} • {{store.site.state}}</span>
        </p>
        <p matLine>
            <span>Status: {{store.currentStoreStatus ? store.currentStoreStatus : 'N/A'}}</span>
            <span>•</span>
            <span>Type: {{store.storeType}}</span>
        </p>
        <p matLine class="mat-caption">Member of {{store.storeListCount - 1| number}} Other Lists</p>

        <button class='menu-icon-button' mat-icon-button color="primary" [mat-menu-trigger-for]="siteMenu">
            <i class="site-menu fas fa-ellipsis-v"></i>
        </button>

        <mat-menu #siteMenu="matMenu">
            <button mat-menu-item (click)="showOnMap(store)">
                <i class="fas fa-map-marked-alt"></i>
                <span>Show on Map</span>
            </button>
            <button mat-menu-item (click)="select(store)">
                <i class="fas fa-check-square"></i>
                <span>Select Store</span>
            </button>
            <button mat-menu-item (click)="removeStoreFromList(store)">
                <i class="fas fa-minus-circle"></i>
                <span>Remove From This List</span>
            </button>
        </mat-menu>

    </mat-list-item>
</mat-list> -->