:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 16px;
}

.quota {
  font-size: small;
}

#form-wrapper {
  margin: 16px auto;
  max-width: 400px;
}

mds-file-input {
  margin: 16px auto;
  max-width: 300px;
}

mat-form-field {
  display: block;
}

.green {
  color: #01b901;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

.warning-info {
  margin: 10px 0;
  /* font-style: italic; */
  font-weight: bold;
}

.right-align {
  text-align: right;
}

.sum {
  border-top: 1px solid gray;
}

.progress-text-wrapper {
  padding: 10px 0;
  background: #2b3a41;
  width: 400px;
  border-radius: 10px 10px 0 0;
}

.mat-progress-bar {
  height: 25px;
}
