.title-bar {
  width: 100%;
  display: flex;
  align-items: center;
}

.center {
  flex: 0;
}

.left,
.right {
  flex: 1;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
}

.centered-div{
  width: 90vw;
    margin: 0 auto;
}

table{
    text-align: center;
    overflow:scroll;
}

tr:nth-child(even){
    background-color: gray;
}

td{
    padding: 5px;
}