<mds-sub-title-bar subTitle="Geocoding">
  <i class="fas fa-globe-americas"></i>
  <div class="quota">
    Geocodes Remaining:&nbsp;
    <span *ngIf="quota">{{quota.quotaLimit - quota.queryCount}} / {{quota.quotaLimit}}</span>
    <i *ngIf="!quota" class="fas fa-spinner fa-pulse"></i>
  </div>
</mds-sub-title-bar>

<div class="content">
  <mds-file-input *ngIf="quota" buttonText="Upload CSV File" fileTypes=".csv,.xls,.xlsx"
                  outputType="text"
                  (fileChanged)="handleFile($event)"></mds-file-input>

  <div *ngIf="!canGeocode && inputFile">
    <div class='warning-info'>Can't geocode file without incurring extra charges</div>
    <div class='right-align'>Geocodes Remaining: {{quota.quotaLimit - quota.queryCount | number}}
    </div>
    <div class="right-align">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CSV File Length: {{length | number}}</div>
    <div class="right-align sum">Quota Overage: <span class="red">{{(quota.quotaLimit -
      quota.queryCount) - length | number}}</span></div>
    <div class='warning-info'>Please see IT for more information</div>
  </div>

  <div id="form-wrapper">
    <form id="fieldForm" [formGroup]="fieldForm" *ngIf="headerRow && canGeocode">
      <mat-form-field>
        <mat-select placeholder="Street or Full Address" formControlName="address">
          <mat-option></mat-option>
          <mat-option *ngFor="let header of headerRow" [value]="header" [disabled]="disableField('address', header)">
            {{header}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="City" formControlName="city">
          <mat-option></mat-option>
          <mat-option *ngFor="let header of headerRow" [value]="header" [disabled]="disableField('city', header)">
            {{header}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="State" formControlName="state">
          <mat-option></mat-option>
          <mat-option *ngFor="let header of headerRow" [value]="header" [disabled]="disableField('state', header)">
            {{header}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Postal Code" formControlName="zip">
          <mat-option></mat-option>
          <mat-option *ngFor="let header of headerRow" [value]="header" [disabled]="disableField('zip', header)">
            {{header}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="fieldForm.valid && !running">
        Query Preview: <b>{{getQueryPreview()}}</b>
      </div>
    </form>
  </div>

  <div *ngIf="running">
    <div class="progress-text-wrapper">
      <span class="green">
        <i class="fas fa-home green"></i> Rooftop: <b>{{status.rooftops}}</b>
      </span> | <span class="orange">
        <i class="fas fa-question-circle orange"></i> Other: <b>{{status.done - status.rooftops}}</b>
      </span> | <span class="red">
        <i class="fas fa-exclamation-triangle red"></i> Failures: <b>{{status.failures}}</b>
      </span>
    </div>
    <div>
      <mat-progress-bar mode="determinate" [value]="getStatus()"></mat-progress-bar>
    </div>
  </div>

</div>

<mds-sub-title-bar>
  <div class="left" *ngIf="inputFile && fieldForm.valid">
    Maximum Accuracy: <b [ngClass]="getQualityColor()">{{estimateQuality()}}</b>
  </div>
  <button (click)="submit()" form="fieldForm" type="submit" [disabled]="running || !inputFile || !fieldForm.valid"
          mat-raised-button color="accent">
    Geocode {{length | number}} Records
  </button>
</mds-sub-title-bar>
