.wrapper {
  margin: 40px auto;
  width: fit-content;
}

mat-form-field {
  max-width: 120px;
}

td input {
  max-width: 100px;
}

td.right-align {
  text-align: right;
}

td.right-align input {
  text-align: right;
}

td {
  padding: 5px 10px;
}
