<h2 mat-dialog-title style="text-align: center;">
  Select Store Lists
</h2>
<form id="addRemoveForm" mat-dialog-content>

  <button *ngIf="type === AddRemoveType.ADD" style="width: 100%; margin-bottom: 10px"
          mat-raised-button color="primary" (click)="createNewList()">
    Create New List
  </button>

  <div class="loading" *ngIf="fetching">
    <i class="fas fa-spinner fa-pulse fa-2x"></i>
  </div>

  <mat-selection-list [(ngModel)]="selectedListIds" name="selectionList">
    <mat-list-option *ngFor="let storeList of storeLists" [value]="storeList.id">
      <div style="display: flex; justify-content: space-between; max-width: 200px;">
        <span style="max-width: 160px; overflow: hidden; text-overflow: ellipsis;">
          {{storeList.storeListName}}
        </span>
        <span>({{storeList.storeCount}})</span>
      </div>
    </mat-list-option>
  </mat-selection-list>
</form>

<mat-dialog-actions style="justify-content: space-between;">
  <button type="button" mat-raised-button color="primary" mat-dialog-close>Cancel</button>
  <button type="submit" form="addRemoveForm" [disabled]="selectedListIds.length === 0" mat-raised-button color="accent"
          (click)="submit()">
    {{type}}
  </button>
</mat-dialog-actions>
