.list-manager {
  min-width: 50vw;
}

.add-store-button {
  width: 100%;
  margin-bottom: 10px;
}

.excluded mat-list-option {
  cursor: pointer;
  border-radius: 5px;
}

mat-list-item {
  border-radius: 5px;
}

.excluded mat-list-option:hover {
  background: #999;
}

mat-selection-list,
mat-list {
  max-height: 50vh;
  overflow-y: auto;
  background: #efefef;
  border-radius: 5px;
  padding-top: 0px !important;
}

mat-list-option span,
mat-list-item span {
  padding: 5px 5px 5px 0;
}

p.mat-caption {
  font-size: x-small !important;
}

button.mat-menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 220px;
}

button.mat-menu-item > span {
  text-align: center;
  width: calc(100% - 16px);
}

.menu-item-warn:hover {
  color: rgba(255, 0, 0, 0.75);
}
