<mat-list-item [id]="listItemId">
    <h3 matLine><b>{{storeList.storeListName}}</b></h3>
    <p matLine>
        <span>{{storeList.storeCount | number}} Stores</span>
        <span>{{storeList.subscriberCount | number}} Subscribers</span>
    <p matLine class="mat-caption">Created By {{storeList.createdBy.name}}</p>

    <!-- OPTIONS MENU FOR EACH STORELIST -->
    <button class='menu-icon-button' mat-icon-button color="primary" [mat-menu-trigger-for]="siteMenu">
            <i class="site-menu fas fa-ellipsis-v"></i>
        </button>

    <mat-menu #siteMenu="matMenu">
        <button mat-menu-item (click)="viewStores(storeList)">
            <i class="fas fa-list-ul"></i>
            <span>View Stores</span>
        </button>
        <button mat-menu-item>
            <i class="fas fa-users"></i>
            <span>View Subscribers</span>
        </button>
        <button *ngIf="stores.length" mat-menu-item (click)="removeStoresFromStoreList(storeList)">
            <i class="fas fa-minus-circle"></i>
            <span>Remove Stores</span>
        </button>
        <button mat-menu-item (click)="toggleSubscribe(storeList)">
            <i [ngClass]="{'fas':true, 'fa-bell': listManagerService.userIsSubscribedToStoreList(storeList), 'fa-bell-slash': !listManagerService.userIsSubscribedToStoreList(storeList)}"></i>&nbsp;
            <span>{{getSubscribeButtonText(storeList)}}</span>
        </button>
        <button mat-menu-item>
            <i class="fas fa-share-square"></i>
            <span>Share List</span>
        </button>
        <button class="menu-item-warn" mat-menu-item (click)="deleteList(storeList)">
            <i class="fas fa-trash-alt"></i>
            <span>Delete List</span>
        </button>
    </mat-menu>

  </mat-list-item>