<h3 mat-dialog-title>Store Statuses</h3>
<div mat-dialog-content>
  <mat-list class="widened">
    <mat-progress-bar mode="indeterminate" *ngIf="savingCurrentStatus"></mat-progress-bar>
    <mat-list-item *ngFor="let storeStatus of store.storeStatuses">
      <div class="full-width flex flex-space-between">
        <div>
          <div>
            <strong>{{storeStatus.status}}</strong>
            <span *ngIf="store.currentStoreStatus != null && storeStatus.id === store.currentStoreStatus.id">&nbsp;(Current)</span>
          </div>
          <div><em>{{storeStatus.statusStartDate | date}}</em></div>
        </div>
        <div>
          <button mat-icon-button type="button" *ngIf="!this.data.allowStatusSelection"
                  [mat-menu-trigger-for]="statusMenu" ><i class="fas fa-ellipsis-v"></i></button>
          <button mat-raised-button type="button" *ngIf="this.data.allowStatusSelection" color="accent"
                  (click)="useForCasing(storeStatus)">Select</button>
        </div>
      </div>
      <mat-menu #statusMenu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item (click)="setCurrentStatus(storeStatus)"
                *ngIf="store.currentStoreStatus == null || storeStatus.id !== store.currentStoreStatus.id">
          Set As Current
        </button>
        <button mat-menu-item (click)="deleteStatus(storeStatus)">
          <i class="fas fa-trash"></i>&nbsp;&nbsp;Delete
        </button>
      </mat-menu>
    </mat-list-item>
  </mat-list>
</div>
<div mat-dialog-actions class="flex-space-between">
  <button mat-raised-button [mat-dialog-close]="store">Close</button>
  <button mat-raised-button color="accent" (click)="openCreateDialog()">Create New</button>
</div>
