[matPrefix] {
  margin-right: 8px;
}

mds-map {
  height: inherit;
}

i:hover {
  color: orange;
  cursor: pointer;
}

/* .infoCardContainer {
  position: absolute;
  pointer-events: all;
  max-width: 300px;
  left: 5px;
  bottom: 60px;
} */

.infoCardContainer {
  position: absolute;
  pointer-events: all;
  width: 300px;
  bottom: 81px;
  z-index: 9999;
  transition: all 0.5s ease-in-out;
  padding-left: 5px;
}

@media (min-width: 600px) {
  .infoCardContainer.right {
    left: calc(100% - 375px);
  }
}

mat-slider {
  width: 90%;
}

#casing-dash-container {
  height: 100%;
}

.box {
  height: 100%;
}

form {
  overflow: hidden;
}

.casing-side-nav {
  max-width: 300px;
}

mat-sidenav {
  min-width: 250px;
}

*::-webkit-scrollbar {
  width: 5px !important;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
}

*::-webkit-scrollbar-thumb {
  background-color: orange !important;
  outline: 1px solid slategrey !important;
}

#loadingSpinner, #refresh {
  position: absolute;
  bottom: 250px;
  right: 15px;
  /*pointer-events: none;*/
  z-index: 100;
  color: orange;
}

@media (max-width: 600px) {
  #loadingSpinner, #refresh {
    bottom: 240px;
  }
}

#refresh {
  min-width: unset;
  padding: unset;
  width: 40px;
  height: 40px;
}

mat-slider {
  width: 210px;
  margin: 0 20px;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

mds-store-sidenav {
  height: 100%;
  position: relative;
  transition: all 0.5s ease-in-out;

  /* padding: 0 10px; */
  background: white;
}

.sidenav-show {
  width: 400px;
}

.sidenav-hide {
  width: 0;
}

@media (max-width: 740px) {
  mds-store-sidenav {
    position: absolute;
    z-index: 9999;
    height: calc(100vh - 129px);
    left: 0;
    top: 0;
  }

  .sidenav-show {
    width: calc(100% - 35px);

  }
}

@media (max-width: 600px) {
  mds-store-sidenav {
    height: calc(100vh - 112px);
  }
}

.invisible {
  opacity: 0.25;
}

.adjusted-height {
  height: calc(100% - 250px);
  padding-bottom: 10px;
}

#open-close {
  position: absolute;
  z-index: 999999999;
  left: 0;
  background: white;
  width: 30px;
  justify-content: center;
  display: flex;
  height: 50px;
  align-items: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  border: 1px solid #d8d8d8;
  border-left: none;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
