<mat-sidenav-container>
  <mat-sidenav id="store-list-sidenav" [mode]="layoutIsSmall ? 'over' : 'side'" [opened]="showStoreLists"
               (openedChange)="setShowStoreLists($event)">
    <router-outlet></router-outlet>
  </mat-sidenav>
  <mat-sidenav [mode]="layoutIsSmall ? 'over' : 'side'" [(opened)]="filterSideNavIsOpen" class="casing-side-nav"
               position="end">
    <mds-db-entity-controls (viewStoreList)="openSidenavDirectlyToSelectedListStores($event)"></mds-db-entity-controls>
  </mat-sidenav>
  <mat-sidenav-content style="display: flex;">
    <mds-map #casingMap class="row content" (ready)="onMapReady()"></mds-map>
  </mat-sidenav-content>
</mat-sidenav-container>
<div class="row footer">
  <mat-toolbar *ngIf="selectedDashboardMode === casingDashboardMode.FOLLOWING" color="primary"
               class="flex-space-between">
    <div></div>
    <div>
      <button mat-raised-button color="accent" (click)="deactivateFollowMe()">Stop Follow Me</button>
    </div>
    <div></div>
  </mat-toolbar>
  <mat-toolbar *ngIf="selectedDashboardMode === casingDashboardMode.MOVING_MAPPABLE" color="primary"
               class="flex-space-between">
    <div>
      <button mat-raised-button color="accent" (click)="cancelMove()">Cancel</button>
    </div>
    <div>
      Drag Marker
    </div>
    <div>
      <button mat-raised-button color="accent" (click)="saveMove()">Save</button>
    </div>
  </mat-toolbar>
  <mat-toolbar *ngIf="selectedDashboardMode === casingDashboardMode.MULTI_SELECT" color="primary"
               class="flex-space-between">
    <button mat-raised-button color="warn" (click)="cancelMultiSelect()">Cancel</button>
    <button mat-mini-fab [mat-menu-trigger-for]="drawingToolsMenu" color="primary">
      <i *ngIf="drawingModeIs('pointer')" class="far fa-hand-pointer"></i>
      <i *ngIf="drawingModeIs('circle')" class="far fa-circle"></i>
      <i *ngIf="drawingModeIs('rectangle')" class="far fa-square"></i>
      <i *ngIf="drawingModeIs('polygon')" class="far fa-star"></i>
    </button>
    <button mat-mini-fab [mat-menu-trigger-for]="multiSelectModeMenu" color="primary">
      <i *ngIf="!deselecting" class="fas fa-plus"></i>
      <i *ngIf="deselecting" class="fas fa-minus"></i>
    </button>
    <button [disabled]="getSelectionCount() === 0"
            mat-raised-button color="accent"
            [matBadge]="getSelectionCount() || null"
            matBadgeColor="warn"
            [mat-menu-trigger-for]="multiSelectActionMenu">
      Actions
    </button>
  </mat-toolbar>
  <mat-toolbar *ngIf="selectedDashboardMode === casingDashboardMode.EDIT_PROJECT_BOUNDARY" color="primary"
               class="flex-space-between">
    <div>
      <button mat-raised-button (click)="cancelProjectBoundaryEditing()" color="warn">Cancel</button>
    </div>
    <div>
      <button mat-mini-fab [mat-menu-trigger-for]="drawingToolsMenu" color="primary">
        <i *ngIf="drawingModeIs('pointer')" class="far fa-hand-pointer"></i>
        <i *ngIf="drawingModeIs('circle')" class="far fa-circle"></i>
        <i *ngIf="drawingModeIs('rectangle')" class="far fa-square"></i>
        <i *ngIf="drawingModeIs('polygon')" class="far fa-star"></i>
      </button>
    </div>
    <div>
      <button mat-mini-fab *ngIf="!deletingProjectShapes" color="primary"
              (click)="enableProjectShapeDeletion()">
        <i class="fas fa-trash-alt"></i>
      </button>
      <button mat-mini-fab *ngIf="deletingProjectShapes" color="accent"
              (click)="disableProjectShapeDeletion()">
        <i class="fas fa-trash-alt fa-spin"></i>
      </button>
    </div>
    <div>
      <button *ngIf="!savingBoundary" mat-raised-button color="accent" (click)="saveProjectBoundary()">Save
      </button>
      <button *ngIf="savingBoundary" mat-raised-button color="accent" disabled><i
        class="fas fa-spinner fa-pulse"></i></button>
    </div>
  </mat-toolbar>
  <mat-toolbar *ngIf="selectedDashboardMode === casingDashboardMode.CREATING_NEW" color="primary"
               class="flex-space-between">
    <button mat-raised-button color="warn" (click)="cancelSiteCreation()">Cancel</button>
    <span>Drag Pin</span>
    <button mat-raised-button color="accent" (click)="editNewLocation()">Create</button>
  </mat-toolbar>
  <mat-toolbar *ngIf="selectedDashboardMode === casingDashboardMode.DUPLICATE_SELECTION" color="primary"
               class="flex-space-between">
  </mat-toolbar>
  <mat-toolbar *ngIf="selectedDashboardMode === casingDashboardMode.DEFAULT" color="primary"
               class="flex-space-between">
    <button mat-mini-fab color="primary" (click)="setShowStoreLists(!showStoreLists)">
      <i class="fas fa-chevron-right" *ngIf="!showStoreLists"></i>
      <i class="fas fa-chevron-left" *ngIf="showStoreLists"></i>
    </button>
    <button mat-mini-fab color="primary" [mat-menu-trigger-for]="moreMenu">
      <i class="fas fa-ellipsis-v"></i>
    </button>
    <mat-form-field>
      <input type="number" matInput placeholder="Banner Sister Factor" [(ngModel)]="bannerSisterFactor">
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput placeholder="Fit Sister Factor" [(ngModel)]="fitSisterFactor">
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput placeholder="Market Share Threshold" [(ngModel)]="marketShareThreshold">
    </mat-form-field>
    <button mat-mini-fab color="primary" [mat-menu-trigger-for]="searchMenu">
      <i class="fas fa-search"></i>
    </button>
    <button mat-mini-fab color="primary" (click)="filterSideNavIsOpen = !filterSideNavIsOpen">
      <i class="fas fa-sliders-h"></i>
    </button>
  </mat-toolbar>
</div>

<mat-menu #multiSelectActionMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item (click)="clearSelection()">
    <i class="fas fa-times-circle"></i>&nbsp;&nbsp;Clear Selection
  </button>
  <button mat-menu-item (click)="openDownloadDialog()" *ngIf="!userIsGuest()">
    <i class="fas fa-download"></i>&nbsp;&nbsp;Download Latest Data
  </button>
  <button mat-menu-item [mat-menu-trigger-for]="assignmentSubMenu">
    <i class="fas fa-user"></i>&nbsp;&nbsp;Assignment
  </button>
  <button mat-menu-item [mat-menu-trigger-for]="listsSubMenu">
    <i class="fas fa-list-ul"></i>&nbsp;&nbsp;Lists
  </button>
</mat-menu>

<mat-menu #listsSubMenu="matMenu">
  <button mat-menu-item (click)="addToList()">
    <i class="fas fa-plus-circle"></i>&nbsp;&nbsp;Add to List
  </button>
  <button mat-menu-item (click)="removeFromList()">
    <i class="fas fa-minus-circle"></i>&nbsp;&nbsp;Remove From List
  </button>
</mat-menu>

<mat-menu #assignmentSubMenu="matMenu">
  <button mat-menu-item (click)="assignSelectedStoresToUser(null)">
    <i class="fas fa-ban"></i>&nbsp;&nbsp;Unassign
  </button>
  <button mat-menu-item (click)="assignToSelf()">
    <i class="fas fa-user-tie"></i>&nbsp;&nbsp;Assign To Me
  </button>
  <button mat-menu-item (click)="openAssignmentDialog()">
    <i class="fas fa-user"></i>&nbsp;&nbsp;Assign
  </button>
</mat-menu>

<mat-menu #drawingToolsMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item (click)="setDrawingModeToClick()">
    <i class="far fa-hand-pointer"></i>&nbsp;Click
  </button>
  <button mat-menu-item (click)="setDrawingModeToRectangle()">
    <i class="far fa-square"></i>&nbsp;Rectangle
  </button>
  <button mat-menu-item (click)="setDrawingModeToCircle()">
    <i class="far fa-circle"></i>&nbsp;Circle
  </button>
  <button mat-menu-item (click)="setDrawingModeToPolygon()">
    <i class="far fa-star"></i>&nbsp;Polygon
  </button>
</mat-menu>

<mat-menu #multiSelectModeMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item (click)="deselecting = false">
    <i class="fas fa-plus-circle"></i>&nbsp;Select
  </button>
  <button mat-menu-item (click)="deselecting = true">
    <i class="fas fa-minus-circle"></i>&nbsp;Deselect
  </button>
</mat-menu>

<mat-menu #searchMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item (click)="openDatabaseSearch()">
    <i class="fas fa-database"></i>&nbsp;Database
  </button>
  <button mat-menu-item (click)="openLatLngSearch()">
    <i class="fas fa-crosshairs"></i>&nbsp;Lat/Lng
  </button>
  <button mat-menu-item (click)="openGoogleSearch()">
    <i class="fab fa-google"></i>
    <span style="padding-right: 10px;" [matBadge]="countSearchPoints()" matBadgeColor="accent">&nbsp;Google
    </span>
  </button>
  <button mat-menu-item (click)="clearGoogleSearch()" *ngIf="googlePlacesLayer != null">
    <i class="fas fa-ban"></i>&nbsp;Clear Google Search
  </button>
</mat-menu>

<mat-menu #moreMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item (click)="initSiteCreation()">
    <i class="fas fa-plus-circle"></i>&nbsp;Create New Site
  </button>
  <button mat-menu-item (click)="enableMultiSelect()">
    <i class="fas fa-hand-pointer"></i>&nbsp;Enable Multi-select
  </button>
  <button mat-menu-item (click)="openDownloadDialog()" [disabled]="selectedStoreIds.size < 1"
          *ngIf="!userIsGuest()">
    <i class="fas fa-download"></i>&nbsp;Download Latest ({{selectedStoreIds.size}})
  </button>
  <button mat-menu-item [mat-menu-trigger-for]="geolocationSubMenu">
    <i class="fas fa-crosshairs"></i>&nbsp;Geolocation
  </button>
  <button mat-menu-item *ngIf="!getSelectedProject()"
          (click)="openProjectSelectionDialog()">
    <i class="fas fa-folder"></i>&nbsp;Select Project
  </button>
  <button mat-menu-item *ngIf="getSelectedProject()" [mat-menu-trigger-for]="projectSubMenu">
    {{getSelectedProject().projectName}}
  </button>
</mat-menu>

<mat-menu #geolocationSubMenu="matMenu">
  <button mat-menu-item (click)="findMe()">
    <i class="fas fa-crosshairs"></i>&nbsp;Find Me
  </button>
  <button mat-menu-item (click)="activateFollowMe()">
    <i class="fas fa-location-arrow"></i>&nbsp;Follow Me
  </button>
</mat-menu>

<mat-menu #projectSubMenu="matMenu">
  <div *ngIf="getSelectedProject()">
    <button mat-menu-item (click)="openProjectSelectionDialog()">
      <i class="fas fa-folder"></i>&nbsp;Change Project
    </button>
    <button mat-menu-item (click)="showProjectSummary()">
      Show Summary
    </button>
    <button mat-menu-item
            *ngIf="!getSelectedProject().hasBoundary && !isShowingBoundary()"
            (click)="enableProjectBoundaryEditing()">
      Create Boundary
    </button>
    <div *ngIf="getSelectedProject().hasBoundary">
      <button mat-menu-item (click)="selectAllInBoundary()">
        Select All In Boundary
      </button>
      <button mat-menu-item (click)="enableProjectBoundaryEditing()">
        Edit Boundary
      </button>
      <button mat-menu-item *ngIf="isShowingBoundary()"
              (click)="hideProjectBoundaries()">
        Hide Boundary
      </button>
      <button mat-menu-item *ngIf="!isShowingBoundary()" (click)="showBoundary()">
        Show Boundary
      </button>
      <button mat-menu-item (click)="showBlockGroups()">
        Show Block Groups
      </button>
    </div>
  </div>
</mat-menu>

<button style="position:absolute;" [ngClass]="{hidden: controls.updateOnBoundsChange && !gettingLocations}"
        mat-raised-button id="refresh" (click)="getEntitiesInBounds()" color="primary"
        [disabled]="gettingLocations">
  <i class="fas fa-sync" [ngClass]="{'fa-spin': gettingLocations}"></i>
</button>

<div id="info-card-wrapper" [ngClass]="{hidden: !infoCard}">
  <mds-info-card *ngIf="infoCard" [infoCard]="infoCard"
                 [disabled]="selectedDashboardMode !== casingDashboardMode.DEFAULT">
  </mds-info-card>
</div>

<button id="openListView" mat-mini-fab color="primary" (click)="setShowStoreLists(!showStoreLists)"
        [ngClass]="{hidden: selectedDashboardMode !== casingDashboardMode.MULTI_SELECT}">
  <i class="fas fa-chevron-right" *ngIf="!showStoreLists"></i>
  <i class="fas fa-chevron-left" *ngIf="showStoreLists"></i>
</button>

<div id="project-buttons">
  <button id="current-project-button" *ngIf="getSelectedProject()" mat-raised-button [mat-menu-trigger-for]="projectSubMenu">
    {{getSelectedProject().projectName}}
  </button>
  <button *ngIf="!getSelectedProject()" mat-raised-button (click)="openProjectSelectionDialog()">
    Select Project
  </button>
</div>

<div id="market-share">

</div>
