[matPrefix] {
  margin-right: 8px;
}

mds-map {
  height: inherit;
}

/* .infoCardContainer {
  position: absolute;
  pointer-events: all;
  max-width: 300px;
  left: 5px;
  bottom: 60px;
} */

.infoCardContainer {
  position: absolute;
  pointer-events: all;
  width: 300px;
  bottom: 81px;
  z-index: 9999;
  transition: all 0.5s ease-in-out;
  padding-left: 5px;
}

@media (min-width: 600px) {
  .infoCardContainer.right {
    left: calc(100% - 375px);
  }
}

mat-slider {
  width: 90%;
}

#casing-dash-container {
  height: 100%;
}

.box {
  height: 100%;
}

form {
  overflow: hidden;
}

.casing-side-nav {
  max-width: 300px;
}

.checklist {
  display: flex;
  flex-direction: column;
  padding-left: 30px
}

.checklist mat-checkbox {
  margin-bottom: 8px;
}

mat-sidenav {
  min-width: 250px;
}

*::-webkit-scrollbar {
  width: 5px !important;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
}

*::-webkit-scrollbar-thumb {
  background-color: orange !important;
  outline: 1px solid slategrey !important;
}

#loadingSpinner, #refresh {
  position: absolute;
  bottom: 250px;
  right: 15px;
  /*pointer-events: none;*/
  z-index: 100;
  color: orange;
}

mat-panel-description{
  font-size: x-small;
  font-style: italic;
  align-items: center;
  text-align: center;
}

@media (max-width: 600px) {
  #loadingSpinner, #refresh {
    bottom: 240px;
  }
}
#refresh {
  min-width: unset;
  padding: unset;
  width: 40px;
  height: 40px;
}

.control-selector {
  width: 200px;
  margin: 0 10%;
}

mat-slider {
  width: 210px;
  margin: 0 20px;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

mds-store-sidenav {
  height: 100%;
  position: relative;
  transition: all 0.5s ease-in-out;

  /* padding: 0 10px; */
  background: white;
}

mds-store-sidenav::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  position: absolute;
  right: -20px;
  top: calc(50% - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999;
  width: 20px;
  height: 50px;
  background: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

mds-store-sidenav.sidenav-show::after {
  content: "\f053";
}

.sidenav-show {
  width: 400px;
}

.sidenav-hide {
  width: 0;
}

@media (max-width: 740px) {
  mds-store-sidenav {
    position: absolute;
    z-index: 9999;
    height: calc(100vh - 129px);
    left: 0;
    top: 0;
  }

  .sidenav-show {
    width: calc(100% - 35px);

  }
}

@media (max-width: 600px) {
  mds-store-sidenav {
    height: calc(100vh - 112px);
  }
}

.invisible {
  opacity: 0.25;
}

.adjusted-height {
  height: calc(100% - 250px);
  padding-bottom: 10px;
}

#dataset-header {
  display: flex;
  justify-content: space-between;
}

h3 > i:hover {
  cursor: pointer;
  color: orange;
}
