[matPrefix] {
  margin-right: 8px;
}

mds-map {
  height: inherit;
}

.infoCardContainer {
  position: absolute;
  pointer-events: all;
  max-width: 300px;
  left: 5px;
  bottom: 60px;
}

@media (min-width: 600px) {
  .infoCardContainer {
    bottom: 70px;
    justify-content: left;
    padding-left: 5px;
    padding-bottom: 30px;
  }
}

mat-slider {
  width: 90%;
}

/*.infoCard {*/
  /*max-width: 360px;*/
  /*pointer-events: all;*/
/*}*/

/*.infoCard mat-card {*/
  /*padding: 10px;*/
/*}*/

/*.infoCard .mat-card-subtitle {*/
  /*margin-bottom: 5px;*/
/*}*/

/*.infoCard .mat-card-content {*/
  /*margin-bottom: 0px;*/
  /*padding: 0 8px;*/
  /*font-size: small;*/
/*}*/

/*.infoCard .mat-card-actions {*/
  /*padding-top: 5px;*/
  /*display: flex;*/
  /*justify-content: space-around;*/
/*}*/

/*.infoCard .mat-card > .mat-card-actions:last-child {*/
  /*margin-bottom: -8px;*/
/*}*/

#casing-dash-container {
  height: 100%;
}

.box {
  height: 100%;
}

form {
  overflow: hidden;
}

.casing-side-nav {
  max-width: 300px;
}

.checklist {
  display: flex;
  flex-direction: column;
}

.checklist mat-checkbox {
  margin-bottom: 8px;
}

#filter-side-nav {
  min-width: 150px;
  margin-left: 16px;
}

#loadingSpinner {
  position: absolute;
  bottom: 90px;
  pointer-events: none;
  z-index: 100;
  margin-left: 10px;
}

