table {
  border-collapse: collapse;
  margin: 0 auto;
  min-width: 400px;
}

tr {
  border: 1px solid black;
}

td {
  padding: 5px;
}

h3 {
  text-align: center;
}

.blue {
  background: lightblue !important;
}

.yellow {
  background: #fffdaf !important;
}

.pink {
  background: lightcoral !important;
}

.grey {
  background: black;
  color: white;
}
