.categories-box {
  padding: 5px 50px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.categories-wrapper {
  width: 100%;
  text-align: center;
}

.blue {
  background: lightblue !important;
}

.yellow {
  background: #fffdaf !important;
}

.pink {
  background: lightcoral !important;
}

.grey {
  background: black;
  color: gray;
}
