<mat-toolbar color="primary" class="flex-space-between">
  <div>
    <button mat-icon-button (click)="toggleSideNav()" *ngIf="auth.isAuthenticated()">
      <i class="fa fa-bars fa-2x"></i>
    </button>
  </div>
  <span>MTN App Suite</span>
  <div>
    <a mat-icon-button routerLink="/"><i class="fa fa-home fa-2x"></i></a>
    <button mat-icon-button *ngIf="!auth.isAuthenticated()" (click)="auth.login()">
      <i class="fa fa-sign-in fa-2x"></i>
    </button>
    <button mat-icon-button *ngIf="auth.isAuthenticated()" (click)="auth.logout()">
      <i class="fa fa-sign-out fa-2x"></i>
    </button>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [(opened)]="sideNaveOpened" *ngIf="auth.isAuthenticated()">
    <mat-nav-list>
      <a mat-list-item routerLink="/users" (click)="closeSideNav()">Users</a>
      <a mat-list-item routerLink="/roles" (click)="closeSideNav()">Roles</a>
      <a mat-list-item routerLink="/groups" (click)="closeSideNav()">Groups</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
