<h1 mat-dialog-title>
  Search
</h1>
<div mat-dialog-content>
  <mat-tab-group class="search-tab-group">
    <mat-tab label="DB">
      <mds-db-search></mds-db-search>
    </mat-tab>
    <mat-tab label="Google" class="search-tab-content">
      <mds-google-places></mds-google-places>
    </mat-tab>
    <mat-tab label="Lat/Lng" class="search-tab-content">
      <mds-lat-lng-search (onSubmitted)="returnCoordinates($event)"></mds-lat-lng-search>
    </mat-tab>
  </mat-tab-group>
</div>
<div mat-dialog-actions>
  <div></div>
  <button mat-raised-button color="accent" type="button" (click)="closeDialog()">Close</button>
</div>
