.mat-dialog-content {
  padding: 0;
  min-width: 250px;
}

.volume-option {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.volume-option .stacked {
  display: flex;
  flex-direction: column;
}

.volume-option button {
  min-width: unset;
}

.volume-option .volume-type {
  font-size: small;
}

.volume-option .volume-total {
  font-weight: bold;
}
