<h3 mat-dialog-title>Store Volumes</h3>
<div mat-dialog-content>
  <h3 *ngIf="error != null">{{error}}</h3>
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <mat-accordion *ngIf="!loading">
    <mat-expansion-panel *ngFor="let volume of storeVolumes">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div>{{volume.volumeDate | date}}</div>
          <div>{{volume.volumeType}}</div>
        </mat-panel-title>
        <mat-panel-description>{{volume.volumeTotal/1000 | currency:'USD':'symbol':'1.0-0'}}k</mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <div>
          <div>
            <table id="volume-table">
              <tr *ngIf="volume.volumeMeat != null || volume.volumePercentMeat != null">
                <td>
                  <mat-form-field>
                    <input matInput type="number" autocomplete="off" placeholder="Meat Volume" [value]="volume.volumeMeat" readonly>
                    <span matPrefix>$&nbsp;</span>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput type="number" autocomplete="off" placeholder="% of Total" [value]="volume.volumePercentMeat" readonly>
                    <span matSuffix>%</span>
                  </mat-form-field>
                </td>
              </tr>
              <tr *ngIf="volume.volumeProduce != null || volume.volumePercentProduce != null">
                <td>
                  <mat-form-field>
                    <input matInput type="number" readonly placeholder="Produce Volume" [value]="volume.volumeProduce">
                    <span matPrefix>$&nbsp;</span>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput type="number" readonly placeholder="% of Total" [value]="volume.volumePercentProduce" >
                    <span matSuffix>%</span>
                  </mat-form-field>
                </td>
              </tr>
              <tr *ngIf="volume.volumeGrocery != null || volume.volumePercentGrocery != null">
                <td>
                  <mat-form-field>
                    <input matInput type="number" readonly placeholder="Grocery Volume" [value]="volume.volumeGrocery">
                    <span matPrefix>$&nbsp;</span>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput type="number" readonly placeholder="% of Total" [value]="volume.volumePercentGrocery">
                    <span matSuffix>%</span>
                  </mat-form-field>
                </td>
              </tr>
              <tr *ngIf="volume.volumeNonFood != null || volume.volumePercentNonFood != null">
                <td>
                  <mat-form-field>
                    <input matInput type="number" readonly placeholder="Non-Food Volume" [value]="volume.volumeNonFood">
                    <span matPrefix>$&nbsp;</span>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput type="number" readonly placeholder="% of Total" [value]="volume.volumePercentNonFood">
                    <span matSuffix>%</span>
                  </mat-form-field>
                </td>
              </tr>
              <tr *ngIf="volume.volumeOther != null || volume.volumePercentOther != null">
                <td>
                  <mat-form-field>
                    <input matInput type="number" readonly placeholder="Other Volume" [value]="volume.volumeOther">
                    <span matPrefix>$&nbsp;</span>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput type="number" readonly placeholder="% of Total" [value]="volume.volumePercentOther">
                    <span matSuffix>%</span>
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </div>
          <mat-form-field>
            <input matInput type="number" readonly placeholder="Total Weekly Volume" [value]="volume.volumeTotal">
            <span matPrefix>$&nbsp;</span>
          </mat-form-field>
          <mat-form-field *ngIf="volume.volumeConfidence != null">
            <input matInput type="text" readonly placeholder="Volume Confidence" [value]="volume.volumeConfidence">
          </mat-form-field>
          <mat-form-field *ngIf="volume.volumeNote != null">
            <textarea matInput type="text" readonly placeholder="Volume Notes" [value]="volume.volumeNote"></textarea>
          </mat-form-field>
        </div>
      </div>
      <mat-action-row>
        <button mat-raised-button color="accent" (click)="copyVolume(volume)"><i class="fas fa-copy"></i>&nbsp;Copy</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div mat-dialog-actions class="flex-justify-center">
  <button type="submit" mat-raised-button color="primary" mat-dialog-close="">Close</button>
</div>
