<div class="store-sidenav">
  <div class="sidenav-content" *ngIf="isPage(null)" style="padding:0 10px;">
    <h1 mat-dialog-title>Store Lists</h1>
    <button mat-raised-button color="primary" (click)="setPage(pages.STORESONMAP)">Stores On The Map</button>
    <button mat-raised-button color="primary" (click)="setPage(pages.MYLISTS)">Manage My Lists</button>
    <button mat-raised-button color="primary" (click)="setPage(pages.SEARCH)" disabled>Search For Stores</button>
  </div>
  <!-- STORES ON MAP -->
  <div class="sidenav-content" *ngIf="isPage(pages.STORESONMAP)">
    <i (click)="setPage(null)" title="Go Back" class="fas fa-arrow-alt-circle-left fa-2x go-back-button"
      *ngIf="expanded"></i>
    <i (click)="selectAllVisible()" title="Select All"
      class="fas fa-check-square fa-2x select-all-button top-right-button" *ngIf="expanded && isMultiSelect()">
    </i>
    <h1 mat-dialog-title>Stores
      <span *ngIf="fetching">
        <i class="fas fa-spinner fa-pulse" aria-hidden="true"> </i>
      </span>
      <br />
      <span *ngIf="getSelectedStoresCount()" title="Zoom to Selected Stores" (click)="zoomToSelection()"
        class="selected-stores">
        {{getSelectedStoresCount() | number}} Selected Store{{getSelectedStoresCount() === 1 ? '' : 's'}}
      </span>
    </h1>
    <mds-stores-list></mds-stores-list>
  </div>
  <!-- LIST MANAGER -->
  <!-- TOP BUTTONS -->
  <div class="sidenav-content" *ngIf="isPage(pages.MYLISTS)">
    <i (click)="listManagerGoBack()" title="Go Back" class="fas fa-arrow-alt-circle-left fa-2x go-back-button"
      *ngIf="expanded"></i>
    <i (click)="selectAllFromList()" title="Select All" class="fas fa-check-square fa-2x top-right-button"
      *ngIf="expanded && isMultiSelect() && isInListOfStoresView()"></i>
    <i (click)="filterMap()" title="Use List As Map Filter" class="fas fa-filter fa-2x top-right-button"
      *ngIf="expanded && !storeListIsCurrentFilter() && !isMultiSelect() && isInListOfStoresView()"></i>
    <i (click)="clearMapFilter()" title="Clear Map Filter" class="fa-stack top-right-button"
      *ngIf="expanded && storeListIsCurrentFilter() && !isMultiSelect() && isInListOfStoresView()">
      <i class="fas fa-filter fa-stack-1x"></i>
      <i class="fas fa-ban fa-stack-2x" style="color:Tomato"></i>
    </i>
    <!-- CONTENT -->
    <h1 mat-dialog-title>{{getListPageText()}}
      <br />
      <span *ngIf="getSelectedStoresCount()" title="Zoom to Selected Stores" (click)="zoomToSelection()"
        class="selected-stores">
        {{getSelectedStoresCount() | number}} Selected Store{{getSelectedStoresCount() === 1 ? '' : 's'}}
      </span>
    </h1>

    <mds-list-manager></mds-list-manager>
  </div>
</div>
