<div class="box">
  <mat-toolbar class="row header flex-space-between">
    <button type="button" mat-icon-button (click)="goBack()"><i class="fas fa-chevron-left"></i></button>
    <span id="title">SC Details</span>
    <div>
      <button type="button" mat-icon-button color="warn" *ngIf="form.invalid">
        <i class="fas fa-exclamation-triangle fa-2x"></i>
      </button>
      <button type="submit" mat-mini-fab color="accent" (click)="saveForm()"
              [disabled]="form.pristine || form.invalid">
        <i class="fas fa-save"></i>
      </button>
    </div>
  </mat-toolbar>
  <mat-divider></mat-divider>
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <div class="row content" *ngIf="!loading">
    <div class="list-wrapper" [formGroup]="form">
      <mat-form-field>
        <input matInput type="text" placeholder="Shopping Center Name" formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Shopping Center Owner" formControlName="owner">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Center Type" formControlName="centerType">
          <mat-option>Clear Selection</mat-option>
          <mat-option *ngFor="let centerType of centerTypes" [value]="centerType">{{centerType}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
