<h3>Shopping Center Casings</h3>
<mat-toolbar>
  <button class="centered" mat-raised-button color="accent"
          routerLink="/casing/shopping-center-casing-detail">Add New Shopping Center Casing
  </button>
</mat-toolbar>
<mat-accordion *ngIf="shoppingCenter != null && shoppingCenter.shoppingCenterCasings != null">
  <mat-expansion-panel *ngFor="let casing of shoppingCenter.shoppingCenterCasings"
                       (opened)="onShoppingCenterCasingOpened(casing)">
    <mat-expansion-panel-header>
      <h4>{{casing.casingDate | date:'mediumDate':'UTC'}}</h4>
    </mat-expansion-panel-header>
    <div *ngIf="selectedSCCasing == null">
      <mat-progress-spinner class="centered" mode="indeterminate"></mat-progress-spinner>
    </div>
    <div *ngIf="selectedSCCasing != null">
      <h3>Casing</h3>
      <div>
        <h4>Used For Projects:</h4>
        <ul>
          <li *ngFor="let project of selectedSCCasing.projects">{{project.projectName}}</li>
        </ul>
        <div *ngIf="selectedSCCasing.note != null">
          <h4>Casing Notes</h4>
          <p>{{selectedSCCasing.note}}</p>
        </div>
        <h4 *ngIf="selectedSCCasing.note == null">No Casing Notes</h4>
        <h4>Ratings</h4>
        <p>Parking Lot: {{selectedSCCasing.ratingParkingLot}}</p>
        <p>Buildings: {{selectedSCCasing.ratingBuildings}}</p>
        <p>Lighting: {{selectedSCCasing.ratingLighting}}</p>
        <p>Synergy: {{selectedSCCasing.ratingSynergy}}</p>
      </div>
      <div *ngIf="selectedSCCasing.shoppingCenterSurvey == null">
        <h3>No Survey</h3>
        <mat-list-item
          *ngIf="shoppingCenter.surveys != null && shoppingCenter.surveys.length > 0">
          <button class="centered" mat-raised-button color="accent">Attach Existing Survey</button>
        </mat-list-item>
        <mat-list-item>
          <button class="centered" mat-raised-button color="accent"
                  routerLink="/casing/shopping-center-survey-detail">
            Create New Survey
          </button>
        </mat-list-item>
      </div>
      <mds-shopping-center-survey-form
        *ngIf="selectedSCCasing.shoppingCenterSurvey != null"
        [survey]="selectedSCCasing.shoppingCenterSurvey"
        [isDisabled]="true">
      </mds-shopping-center-survey-form>
    </div>
  </mat-expansion-panel>
</mat-accordion>
