.pg-wrapper{
    display: flex;
}

.left-panel, .right-panel, .center-panel{
    height: calc(100vh - 64px);
    display: inline-block;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0px;
}

.left-panel{
    background: lightgray;
    flex: 1;
    max-width: 33vw;
}

.left-panel mat-list-item{
    padding: 10px 0;
    margin: 5px 0;
    background: white;
    height: auto !important;
    word-break: unset;
}

.left-panel mat-list-item:hover{
    background: #607d8b;
    cursor: pointer;
    color: white;
}

.left-panel h2{
    text-align: center;
    margin: 10px 0 0 0;
}

.highlighted{
    background: #ffcb00 !important;
    color: black !important;
    box-shadow: 0px 0px 10px 2px inset orange;
}

.list-item-header{
    font-weight: bold;
    font-size:small;
}

.list-item-desc{
    font-size: x-small;
}

.center-panel{
    flex: 0;
    min-width: 35vw;
    background: lightblue;
}

.right-panel{
    flex: 1;
    min-width: 45vw;
    padding: 25px;
}

@media screen and (max-width: 800px){
    .hidden-sm{
        display: none;
    }
}