<div class="box">
  <h1 mat-dialog-title>
    Google Search
  </h1>
  <div mat-dialog-content>
    <div id="search-bar">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Search for something" (input)="validate()" #searchInput [(ngModel)]="searchQuery">
      </mat-form-field>
      <div>
        <button [matBadge]="getBadge()" [matBadgeColor]="getBadgeColor()" [matTooltip]="getSubmitButtonText()"
          matTooltipPosition="above" mat-mini-fab color="primary" type="submit" (click)="submit()"
          [disabled]="!isValidSearch()">
          <i class="fa-stack" *ngIf="isValidSearch() && !autocompleteValidate">
            <i class="top fas fa-map-marker-alt fa-stack-1x"></i>
            <i class="left fas fa-map-marker-alt fa-stack-1x"></i>
            <i class="right fas fa-map-marker-alt fa-stack-1x"></i>
          </i>
          <i class="fas fa-map-marker-alt" *ngIf="isValidSearch() && autocompleteValidate"></i>
          <i class="fas fa-ban" *ngIf="!isValidSearch()"></i>
        </button>
      </div>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button color="accent" type="button" (click)="closeDialog()">Cancel</button>
    </div>
  </div>
</div>
