<form class="lat-long-search-form box">
  <h1 mat-dialog-title>
    Google Search
  </h1>
  <div mat-dialog-content>
    <div id="search-bar">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Search for something" [formControl]="googleFormControl">
      </mat-form-field>
      <div>
        <button mat-mini-fab color="primary" type="submit" (click)="search()">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
    <div id="search-results">
      <mat-nav-list>
        <mat-list-item *ngIf="noSearchResults">No Search Results</mat-list-item>
        <mat-list-item *ngFor="let place of places" (click)="goToStore(place)">
          <h3 matLine>{{place.name}}</h3>
          <p matLine>
            {{place.vicinity}}
          </p>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="accent" type="button" (click)="closeDialog()">Close</button>
    <button mat-raised-button color="primary" type="button" (click)="searchWithMap()">Search with Map</button>
  </div>
</form>
