<div class="infoCard">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <strong>Empty Site</strong>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>{{siteService.getFormattedIntersection(site)}}</div>
      <div>{{site.address1}}</div>
      <div>{{siteService.getFormattedPrincipality(site)}}</div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [disabled]="disableActions" [mat-menu-trigger-for]="markerMoreMenu">
        <i class="fas fa-ellipsis-v"></i>&nbsp;More
      </button>
      <button mat-button [disabled]="disableActions" (click)="goToSiteOverview()">
        <i class="fas fa-pencil-alt"></i>&nbsp;Edit
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<mat-menu #markerMoreMenu="matMenu" [overlapTrigger]="false">
  <div mat-menu-item>Site ID: #{{site.id}}</div>
  <button mat-menu-item (click)="moveSite()">
    <i class="fas fa-arrows-alt"></i>&nbsp;Move
  </button>
  <button mat-menu-item (click)="setDuplicateFlag(true)" *ngIf="!site.duplicate">
    <i class="fas fa-flag"></i>&nbsp;Flag as Duplicate
  </button>
  <button mat-menu-item (click)="setDuplicateFlag(false)" *ngIf="site.duplicate">
    <i class="fas fa-flag"></i>&nbsp;Unflag as Duplicate
  </button>
  <button mat-menu-item (click)="assignToUser(null)" *ngIf="site.assignee != null">
    <i class="fas fa-ban"></i>&nbsp;Unassign
  </button>
  <button mat-menu-item (click)="openAssignmentDialog()">
    <i class="fas fa-user"></i>&nbsp;Assign to Analyst
  </button>
</mat-menu>
