<div class="list-manager">


  <div>
    <!-- LISTMANAGER (INITIAL) VIEW -->
    <div *ngIf="isPage(pages.LISTMANAGER)">

      <!-- TOP BUTTON -->
      <button mat-flat-button class="add-store-button" (click)="setPage(pages.ADDSTORES)" *ngIf="stores.length">
        Add {{getStoreTitle()}} To Lists
      </button>

      <mat-progress-bar mode="indeterminate" *ngIf="fetching"></mat-progress-bar>

      <!-- IF NO STORES!!! -->
      <!-- INPUT FOR NEW LISTS -->
      <mat-form-field *ngIf="!stores.length && !fetching" style="width: 100%;">
        <input #newListName matInput type="text" [placeholder]="getNewListNamePlaceholder(newListName.value)"
               [ngClass]="{'red': getNewListNamePlaceholderColor(newListName.value)}">
        <button [disabled]="shouldDisableNewListButton(newListName.value)" matSuffix mat-flat-button
                (click)="createNewList(newListName)">Create New List
        </button>
      </mat-form-field>

      <!-- TITLE FOR LIST OF LISTS -->
      <div *ngIf="!fetching">
        <h3 class="mat-h3 mat-subheading-2" *ngIf="includedStoreLists.length && stores.length">
          Lists Containing {{getStoreTitle()}}</h3>
        <h3 class="mat-h3 mat-subheading-2" *ngIf="!includedStoreLists.length && stores.length">
          No Lists Found Containing {{getStoreTitle()}}</h3>
        <h3 class="mat-h3 mat-subheading-2" *ngIf="allStoreLists.length && !stores.length">All Lists</h3>
        <h3 class="mat-h3 mat-subheading-2" *ngIf="!allStoreLists.length && !stores.length">No Lists Found</h3>
      </div>

      <!-- LIST OF LISTS (THAT STORE IS MEMBER OF) -->
      <mat-list id="included" *ngIf="stores.length && includedStoreLists.length && !fetching">
        <mds-storelist-list-item [listItemId]="'included_' + storeList.id" [storeList]="storeList"
                                 [stores]="stores"
                                 *ngFor="let storeList of includedStoreLists"></mds-storelist-list-item>
      </mat-list>


      <!-- LIST OF ALL LISTS (SHOWS IF NO STORES ARE PASSED TO DIALOG) -->
      <mat-list id="included" *ngIf="!stores.length && allStoreLists.length && !fetching">
        <mds-storelist-list-item [listItemId]="'all_' + storeList.id" [storeList]="storeList" [stores]="stores"
                                 *ngFor="let storeList of allStoreLists"></mds-storelist-list-item>
      </mat-list>
    </div>

    <!-- VIEW STORES VIEW -->
    <div *ngIf="isPage(pages.VIEWSTORES)">
      <!-- LIST OF ALL STORES IN SELECTED LIST -->
      <mds-storelist-stores-list [selectedStoreList]="selectedStoreList"></mds-storelist-stores-list>
    </div>


        <!-- VIEW SUBSCRIBERS VIEW -->
        <!-- <div *ngIf="isPage(pages.VIEWSUBSCRIBERS)"> -->
        <!-- LIST OF ALL SUBSCRIBERS IN SELECTED LIST -->
        <!-- <mds-storelist-subscribers-list [storeList]="selectedStoreList"></mds-storelist-subscribers-list> -->
        <!-- </div> -->
  </div>


</div>
