<div class="store-sidenav">
  <div class="sidenav-content" *ngIf="isPage(null)">
    <h1 mat-dialog-title>Organize Stores</h1>
    <button mat-flat-button (click)="setPage(pages.STORESONMAP)">List Of Stores On The Map</button>
    <button mat-flat-button (click)="setPage(pages.MYLISTS)">Manage My Lists Of Stores</button>
    <button mat-flat-button (click)="setPage(pages.SEARCH)" disabled>Search For Stores</button>
  </div>
  <!-- LIST OF ALL LISTS (SHOWS IF NO STORES ARE PASSED TO DIALOG) -->
  <div class="sidenav-content" *ngIf="isPage(pages.STORESONMAP)">
    <h1 mat-dialog-title>Visible Stores</h1>
    <mds-stores-list></mds-stores-list>
  </div>
  <div class="sidenav-content" *ngIf="isPage(pages.MYLISTS)">
    <h1 mat-dialog-title>My Lists</h1>
    <mds-list-manager></mds-list-manager>
  </div>
</div>