:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#content-wrapper {
  flex: 1;
  overflow-y: auto;
}

#form-wrapper {
  width: fit-content;
  margin: 15px auto;
  max-width: 90%;
}

mat-form-field {
  display: block;
}

#delete-button {
  margin-right: 8px;
}
