<mds-sub-title-bar subTitle="Groups">
  <i class="fas fa-users"></i>
  <button mat-mini-fab color="accent" routerLink="../group-detail" title="Create New Group">
    <i class="fas fa-plus"></i>
            </button>
</mds-sub-title-bar>

<div class="entity-table-wrapper">
  <table class="entity-table" matSort="sort" (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="displayName">Group Name</th>
    </tr>

    <tr *ngIf="!groups">
      <td style="text-align: center;">
        <i *ngIf="isLoading" class="fas fa-spinner fa-pulse fa-2x" style="margin: 10px;"></i>
        <span *ngIf="!isLoading && groups && groups.length === 0">No Groups</span>
      </td>
    </tr>

    <tr *ngFor="let group of groups" [routerLink]="['../group-detail/', group.id]">
      <td>{{group.displayName}}</td>
    </tr>
  </table>
</div>
