#model-data-form {
  display: flex;
  flex-direction: column;
  margin: 16px auto;
}

.mat-form-field {
  width: 300px;
}

#file-button {
  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
}
