.flex-container {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.flex-container > div {
  background-color: skyblue;
  width: 100%;
  text-align: center;
  font-size: 30px;
}

#Forms {
    min-width: 600px; /* Change to 408px later */
    width: 600px; /* Change to 408px later */
    height: 100%;
    background-color: whitesmoke;
}

#Map {
    height: 100%;
}

.headers-align .mat-expansion-panel-header-title, 
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
  margin: 0; /* Added */
  display: block; /* Added */
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.mat-panel-title .mat-expansion-panel-header {
  text-align: center;
}

/* Custom below */
.mat-expansion-panel-spacing {
  margin: 0;
}

.mat-form-field-infix {
  border-top-width: 0em;
}

.mat-toolbar {
  display: flex;
  margin: 8px;
}

.row.content {
  margin-top: 3px;
}

.mat-content {
  display: flex;
}

.container {
  display: flex;
  justify-content: space-around;
}