<mat-list id="included" *ngIf="storeList">
    <mat-list-item *ngFor="let subscriber of storeList.subscribers">
        <h3 matLine><b>{{subscriber.name}}</b></h3>
        <p matLine class="mat-caption">{{subscriber.email}}</p>

        <!-- OPTIONS MENU FOR EACH STORELIST -->
        <button class='menu-icon-button' mat-icon-button color="primary" [mat-menu-trigger-for]="siteMenu">
            <i class="site-menu fas fa-ellipsis-v"></i>
        </button>

        <mat-menu #siteMenu="matMenu">
            
            <button mat-menu-item (click)="unsubscribe(subscriber)">
                <i class="fas fa-minus-circle"></i>
                <span>Remove Subscriber</span>
            </button>
        </mat-menu>

    </mat-list-item>
</mat-list>