<h3 mat-dialog-title>Store Volumes</h3>
<div mat-dialog-content>
  <mat-list class="widened">
    <mat-list-item *ngFor="let storeVolume of store.storeVolumes">
      <div class="full-width flex flex-space-between">
        <div>
          <div>
            <strong>${{storeVolume.volumeTotal/1000 | number:'1.0-0'}}k</strong>
            <span *ngIf="storeVolume.volumeType != null">&nbsp;({{storeVolume.volumeType}})</span>
          </div>
          <div><em>{{storeVolume.volumeDate | date}}</em></div>
        </div>
        <button mat-icon-button [mat-menu-trigger-for]="volumeMenu"><i class="fas fa-ellipsis-v"></i></button>
      </div>
      <mat-menu #volumeMenu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item (click)="editVolume(storeVolume)" disabled>
          <i class="fas fa-edit"></i>&nbsp;&nbsp;Edit
        </button>
        <button mat-menu-item (click)="deleteVolume(storeVolume)">
          <i class="fas fa-trash"></i>&nbsp;&nbsp;Delete
        </button>
      </mat-menu>
    </mat-list-item>
  </mat-list>
</div>
<div mat-dialog-actions class="flex-space-between">
  <button mat-raised-button [mat-dialog-close]="store">Close</button>
  <button mat-raised-button color="accent" (click)="openCreateDialog()">Create New</button>
</div>
