<div class="box">
  <div class="row content">
    <mat-nav-list>
      <mat-list-item routerLink="users">
        <div mat-list-icon><i class="fas fa-address-book"></i></div>
        <h3 mat-line>Users</h3>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="groups">
        <div mat-list-icon><i class="fas fa-users"></i></div>
        <h3 mat-line>Groups</h3>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="roles">
        <div mat-list-icon><i class="fas fa-id-badge"></i></div>
        <h3 mat-line>Roles</h3>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </div>
</div>
