<div>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <img class="logo" src="../../../assets/images/icons/MTN%20Logo.gif" alt="MTN">
  </button>
</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item *ngIf="showHome" routerLink="/"><i class="fas fa-home"></i>&nbsp;Home</button>
  <button mat-menu-item *ngIf="auth.isAuthenticated()" (click)="auth.logout()">
    <i class="fas fa-sign-out-alt"></i>&nbsp;Sign Out
  </button>
  <button mat-menu-item *ngIf="!auth.isAuthenticated()" (click)="auth.signIn()">
    <i class="fas fa-sign-in-alt"></i>&nbsp;Sign In
  </button>
  <button mat-menu-item (click)="openAppInfoDialog()">
    <i class="fas fa-info-circle"></i>&nbsp;App Info
  </button>
</mat-menu>
