<div>
  <mat-toolbar>
    <span>Select an Activity</span>
  </mat-toolbar>
    <mat-nav-list>
      <mat-list-item class="flex flex-justify-center" routerLink="duplicates">
        <div mat-list-icon><i class="fas fa-clone"></i></div>
        <h3 mat-line>Duplicates</h3>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="missing-data">
        <div mat-list-icon><i class="fas fa-question-circle"></i></div>
        <h3 mat-line>Missing Data</h3>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="outliers">
        <div mat-list-icon><i class="fab fa-buromobelexperte"></i></div>
        <h3 mat-line>Outliers</h3>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-nav-list>
</div>
