/* You can add global styles to this file, and also import other style files */
html, body, .viewport {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
}

#mds-root {
  width: 100%;
  height: 100%;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-justify-end {
  justify-content: flex-end;
}

.flex-justify-center {
  justify-content: center;
}

.full-width {
  width: 100%;
}

mat-form-field {
  width: 400px;
  max-width: 100%;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row.header {
  min-height: 56px;
  flex: 0 0.5 auto;
}

.box .row.content {
  overflow: auto;
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 50px;
}

.list-wrapper {
  margin: 15px auto;
  max-width: 500px;
}

.mat-input-element:disabled {
  color: rgba(0, 0, 0, 0.7);
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.mat-toolbar {
  background: unset;
}

.flex {
  display: flex;
}

.mds-card {
  margin: 10px 6px 6px 6px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .3);
}

.mds-card .header {
  padding: 6px 8px;
  min-height: 40px;
}

.mds-card .title {
  font-size: large;
}

.mds-card .content {
  padding: 8px;
}

.flex-align-center {
  align-items: center;
}

.component-title {
  padding: 0 7px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.db-marker-full-label-active,
.db-marker-full-label-historical,
.db-marker-full-label-future,
.google-places-marker-label {
  padding: 2px 5px;
  border-radius: 5px;
  background: #ffffffb0;
  box-shadow: 0 0 3px 2px #00000080;
  font-weight: bold;
  font-size: 12px;
  color: #000000;
}

.db-marker-full-label-active,
.db-marker-image-label-active,
.db-marker-image-label-active-selected,
.google-places-marker-label {
  -webkit-transform: translateX(-50%);
}

.db-marker-full-label-historical,
.db-marker-image-label-historical,
.db-marker-image-label-historical-selected {
  -webkit-transform: translateX(-100%);
}

.db-marker-short-label {
  -webkit-transform: translateX(-50%);
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
}

.db-marker-image-label-active,
.db-marker-image-label-historical,
.db-marker-image-label-future,
.db-marker-image-label-active-selected,
.db-marker-image-label-historical-selected,
.db-marker-image-label-future-selected {
  border-radius: 5px;
  padding: 2px;
  background: #ffffffc9;
  box-shadow: 0 0 3px 2px #00000080;
  font-weight: bold;
  font-size: 12px;
}

.db-marker-image-label-active-selected,
.db-marker-image-label-historical-selected,
.db-marker-image-label-future-selected {
  box-shadow: 0 0 0 3px #ffe448;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: orange;
  outline: 1px solid slategrey;
}
