<mat-toolbar class="toolbar" color="primary">
  <div>
    <i (click)="goBack()" title="Go Back" class="fas fa-chevron-left"></i>
  </div>
  <h1>Stores On Map</h1>
  <div>
    <i (click)="selectAllVisible()" title="Select All" *ngIf="isMultiSelect()"
       class="fas fa-check-square select-all-button"></i>
  </div>
</mat-toolbar>
<button mat-flat-button *ngIf="getSelectedStoresCount() > 1" title="Zoom to Selected Stores"
        (click)="zoomToSelection()" class="selected-stores">
  Zoom to Selected Stores ({{getSelectedStoresCount()}})
</button>
<mds-stores-list [siteMarkers]="siteMarkers"></mds-stores-list>
