:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.toolbar {
  height: 48px;
  background: #799daf;
}

.toolbar > * {
  flex: 1;
}

.toolbar:last-child {
  text-align: right;
}

h1 {
  text-align: center;
}
