<mat-toolbar class="toolbar" color="primary">
  <div>
    <i (click)="goBack()" title="Go Back" class="fas fa-chevron-left"></i>
  </div>
  <h1>Stores</h1>
  <div>
    <i (click)="selectAllVisible()" title="Select All" *ngIf="isMultiSelect()" class="fas fa-check-square fa-2x select-all-button"></i>
  </div>
</mat-toolbar>
<div *ngIf="getSelectedStoresCount() > 1" title="Zoom to Selected Stores" (click)="zoomToSelection()" class="selected-stores">
  Zoom to Selected Stores ({{getSelectedStoresCount()}})
</div>
<mds-stores-list></mds-stores-list>
