/** {*/
  /*box-sizing: border-box;*/
/*}*/

.flex-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit {
  margin: 25px 0;
}

.categories-wrapper {
  width: 100%;
  text-align: center;
}

.table-section-header {
  text-decoration: underline;
  font-weight: bold;
}

.blue {
  background: lightblue !important;
}
.yellow {
  background: #ffffbb !important;
}
.pink {
  background: #ffd9d9 !important;
}
.grey {
  background: black;
  color: gray;
}

.red-highlight {
  color: red;
  font-weight: bold;
}

table {
  /*width: 10in;*/
  border: none;
  /* display: block; */
  /* width: 100%; */
  /* margin: 0 auto; */
}

@media
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx) {
  table {
    padding-bottom: 50px
  }
}


.force10{
  /*min-width: 10in;*/
}

tr:nth-child(odd) {
  background: #eee;
  border: none;
}

tr:nth-child(even) {
  background: white;
  border: none;
}

tr.white-row {
  background: white;
}

th {
  background: white;
  font-size: 14pt;
  border: none;
  padding: 1px 5px;
}

td {
  padding: 5px 10px;
  font-size: 14pt;
  white-space: nowrap;
  border: none;
}

td.right-align {
  text-align: right;
}

mat-progress-bar {
  width: 50%;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

/*::ng-deep .mat-horizontal-stepper-header-container {*/
  /*visibility: hidden !important;*/
/*}*/

.desc {
  text-align: center;
  font-style: italic;
  color: gray;
  margin: 20px 0;
}

.select-group {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px dotted gray;
}

.select-group mat-form-field {
  margin: 10px 5px 0 5px;
  max-width: 20%;
}

.select-group-header {
  padding-top: 10px;
  margin-top: 20px;
  color: gray;
}

.footnote {
  background: white;
  font-style: italic;
  color: gray;
  font-size: 9pt;
}

.categories-box {
  padding: 5px 50px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50vw;
  min-width: 500px;
  margin: 0 auto;
}

.file-tip {
  margin-left: 20px;
  font-size: small;
}

.title-left {
  position: absolute;
  left: 50px;
  font-size: large;
}

.title-right {
  position: absolute;
  right: 50px;
  font-size: large;
}

#tables-body {
  width: fit-content;
  margin: 30px auto;
}

#sourceOfVolumeTable {
  min-width: 430mm;
  max-width: 430mm;
}

.summary td {
  border-top: 1px solid black;
}
