<mat-toolbar color="primary" class="flex-space-between">
  <div>
    <a *ngIf="showHomeNav" mat-icon-button routerLink="/"><i class="fa fa-home fa-2x"></i></a>
  </div>
  <span>MTN App Suite</span>
  <div>
    <a mat-icon-button *ngIf="!auth.isAuthenticated()" (click)="auth.login()">
      <i class="fa fa-sign-in fa-2x"></i>
    </a>
    <a mat-icon-button *ngIf="auth.isAuthenticated()" (click)="auth.logout()">
      <i class="fa fa-sign-out fa-2x"></i>
    </a>
  </div>
</mat-toolbar>
<div class="box">
  <mat-toolbar class="row header flex-space-between">
    <span></span>
    <span><i class="fa fa-home"></i> Home</span>
    <span></span>
  </mat-toolbar>
  <div class="row content">
    <h4 *ngIf="!auth.isAuthenticated()">
      You are not logged in! Please <a (click)="auth.login()">Log In</a> to continue.
    </h4>
    <mat-nav-list *ngIf="auth.isAuthenticated()">
      <mat-list-item routerLink="/admin">
        <div mat-list-icon><i class="fa fa-key"></i></div>
        <h3 mat-line>Administration</h3>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/casing">
        <div mat-list-icon><i class="fa fa-briefcase"></i></div>
        <h3 mat-line>Casing</h3>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div mat-list-icon><i class="fa fa-download"></i></div>
        <h3 mat-line>Data Extraction</h3>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div mat-list-icon><i class="fa fa-database"></i></div>
        <h3 mat-line>Database Support</h3>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div mat-list-icon><i class="fa fa-user-circle"></i></div>
        <h3 mat-line>My Profile</h3>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </div>
</div>
