:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#home-header {
  justify-content: center;
}

.sign-in-button-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
