:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  flex: 1;
  padding: 16px;
  overflow: auto;
}

.chain-item {
  width: 300px;
  margin: 8px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-button {
  width: 120px;
  height: 60px;
}

mds-file-input {
  max-width: 400px;
  margin: 0 auto;
}

.content > button {
  display: block;
  margin: 18px auto;
}

mat-hint {
  color: orange !important;
  font-weight: bold;
}

