mat-toolbar {
  height: 48px;
  background: #a5c0ce;
}

mat-toolbar > div:nth-child(2) {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

mat-toolbar > div:last-child {
  text-align: right;
}
