.mds-card .title {
  color: white;
}

.mds-card .subtitle {
  color: white;
  font-style: italic;
}

.mds-card .header {
  background: #506a78;
}

.mat-dialog-container {
  padding: 0;
}

.simple-card {
  margin: 4px;
  padding: 12px;
}

.warning {
  background: yellow;
  font-weight: bold;
}


