<div mat-dialog-title>
  <div>Found {{automatchQueue.length | number}} of {{records.length | number}} Stores</div>
  <div>{{getMatched() | number}}/{{automatchQueue.length | number}} Updated</div>
</div>
<mat-dialog-content>
  <div *ngIf="saving|| !initialized">
    <div *ngIf="saving">Saving...</div>
    <mat-progress-bar></mat-progress-bar>
  </div>
  <div *ngIf="getMatched() !== automatchQueue.length" class="dialog-body">
    <div *ngFor="let item of automatchQueue; let i = index" class="form-container">
        <div class="item-title">
          {{item.record.displayName}} - {{item.record.assignments.banner.bannerName}} #{{item.dbRecord.storeNumber}}
          
          <a class="item-title-link" *ngIf="getGoogleMapsUrl(item)" [href]="getGoogleMapsUrl(item)" target="_blank">
            <i class="fab fa-google"></i>
          </a>
        </div>
      
      <mds-spreadsheet-data-form *ngIf="item.logic && !item.record.validated" [logic]="item.logic" [dbRecord]="item.dbRecord"
                              [currentRecord]="item.record" [forceSubmit]="item.forcedSubmit"
                              (savingEvent)="isSaving($event)"
                              (cancelEvent)="cancel()"
                              (completedEvent)="complete(i)">
      </mds-spreadsheet-data-form>
    </div>
  </div>
  <div *ngIf="getMatched() === automatchQueue.length && initialized">
    {{determineAction()}}
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button *ngIf="getMatched() !== automatchQueue.length" mat-button mat-dialog-close>Cancel</button>
    <button *ngIf="getMatched() !== automatchQueue.length" mat-button (click)="saveAll()" color="warn" mat-flat-button>Save All</button>
    <button *ngIf="getMatched() === automatchQueue.length" mat-button (click)="proceed()" mat-flat-button color="primary">Proceed</button>
</mat-dialog-actions>