<mat-toolbar class="row header flex-space-between" color="primary">
  <div class="title-bar">
    <mds-logo-menu></mds-logo-menu>
    <h2><i class="fa fa-briefcase"></i>&nbsp;Casing</h2>
  </div>
  <div class="project-button-container">
    <button class="project-button" mat-raised-button
            *ngIf="casingService.selectedProject === null" color="warn"
            (click)="casingService.openProjectSelectionDialog()">
      Select Project
    </button>
    <button class="project-button" mat-raised-button
            *ngIf="casingService.selectedProject != null" color="accent"
            [matMenuTriggerFor]="projectMenu">
      {{casingService.selectedProject.projectName}}
    </button>
    <mat-menu #projectMenu="matMenu">
      <button mat-menu-item (click)="casingService.openProjectSelectionDialog()">Change Selected Project</button>
      <button mat-menu-item (click)="navigateToProjectSummary()">View Project Summary</button>
      <button mat-menu-item (click)="navigateToProjectDetail()">Edit Project</button>
    </mat-menu>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
