<mat-toolbar class="row header flex-space-between" color="primary">
  <div class="title-bar">
    <mds-logo-menu></mds-logo-menu>
    <h2><i class="fas fa-briefcase"></i>&nbsp;Casing</h2>
  </div>
  <div class="project-button-container">
    <button class="project-button" mat-raised-button
            *ngIf="casingDashboardService.getSelectedProject() == null" color="warn"
            (click)="casingDashboardService.openProjectSelectionDialog()">
      Select Project
    </button>
    <button class="project-button" mat-raised-button
            *ngIf="casingDashboardService.getSelectedProject() != null" color="accent"
            [matMenuTriggerFor]="projectMenu">
      {{casingDashboardService.getSelectedProject().projectName}}
    </button>
    <mat-menu #projectMenu="matMenu">
      <button mat-menu-item (click)="casingDashboardService.openProjectSelectionDialog()">Change Selected Project</button>
      <button mat-menu-item (click)="navigateToProjectSummary()" disabled>View Project Summary</button>
      <button mat-menu-item (click)="navigateToProjectDetail()" disabled>Edit Project</button>
    </mat-menu>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
