<mat-toolbar class="row header flex-space-between" color="primary">
  <div class="title-bar">
    <mds-logo-menu></mds-logo-menu>
    <h2><i class="fas fa-briefcase"></i>&nbsp;Casing</h2>
  </div>
  <div class="project-button-container">
    <button class="project-button" mat-raised-button color="warn" *ngIf="!casingDashboardService.getSelectedProject()"
            (click)="casingDashboardService.openProjectSelectionDialog()">
      Select Project
    </button>
    <button class="project-button" mat-raised-button color="accent" *ngIf="casingDashboardService.getSelectedProject()"
            [mat-menu-trigger-for]="projectMenu">
      {{casingDashboardService.getSelectedProject().projectName}}
    </button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>

<mat-menu #projectMenu="matMenu">
  <button mat-menu-item (click)="casingDashboardService.openProjectSelectionDialog()">Change Selected Project
  </button>
  <button mat-menu-item (click)="navigateToProjectSummary()" disabled>View Project Summary</button>
  <button mat-menu-item (click)="navigateToProjectDetail()" disabled>Edit Project</button>
</mat-menu>
